[2017-08-03 04:54] cjoudrey opened #1 "Add support for .graphqlconfig"
This would allow the command line tool to run by fetching the schema from the `.graphqlconfig` file.

See: https://github.com/graphcool/graphql-config

[2017-08-03 04:55] cjoudrey opened #2 "Add support for custom rules"
It would be great if people could simply pass the path of a custom rule when running `graphql-schema-linter` and the file would be required and the rule would be included in the default set of rules.

[2017-08-03 04:56] cjoudrey opened #3 "Add a way to customize what rules get runned"
We could add a way for the user to define a blacklist and whitelist of rules to use when validating a schema.

This could be defined both as command line options and in the config file.

[2017-08-03 04:57] cjoudrey opened #4 "Add a rule to ensure deprecation reasons have a date and the date hasn't passed."
The goal of this rule is:

- To push API clients off deprecated fields by letting them know when a field will get removed.
- Encourage API owners to remove deprecated fields once the deprecation date has passed.
- Possibly warn API owners as the deprecation date approaches (possibly configurable?).

[2017-08-03 05:02] cjoudrey opened #5 "Add usage"
There should be a way to display usage via the command line.

[2017-08-03 05:04] cjoudrey opened #6 "Gracefully handle when a schema is invalid or missing"
At the moment the command line crashes when you don't give it a schema or if the schema is invalid.

[2017-08-03 05:06] cjoudrey opened #7 "Errors should include the name of the rule they originated from"
We could add a `ValidationError` class that extends `GraphQLError` so that we can include a `ruleName` property that formatters can use.

[2017-08-03 05:08] cjoudrey opened #8 "Add formatters to README and show example output for each"

[2017-08-03 05:25] cjoudrey opened #9 "Add support for custom formatter"
This could be done by allowing the user to pass the filename to their formatter and it would be included when CLI runs.

[2017-08-03 16:44] #8 closed

[2017-08-03 16:50] cjoudrey opened #10 "Add plugin to graphql-cli"
We should add a plugin to [graphql-cli](https://github.com/graphcool/graphql-cli) to expose the schema linter as `graphql lint schema` or something of that nature.

[2017-08-03 16:56] cjoudrey commented on #6
We may want to use exit code `2` when there is an internal error since exit code `1` is meant for when a schema has linter errors.

[2017-08-03 16:57] cjoudrey opened #11 "Document exit codes in README"
`0` means there are no errors in the schema
`1` means there are errors
`2` means there was an internal error (i.e. uncaught exception, bad usage, etc..)

[2017-08-04 05:33] cjoudrey opened #12 "Add Travis CI"

[2017-08-04 05:34] cjoudrey commented on #12
I seem to have hit a bug with Travis CI. It still thinks this repo is private. As soon as that's fixed, we'll be able to add the badge to the README and the status to PRs.

[2017-08-04 18:02] #12 closed

[2017-08-05 00:22] cjoudrey commented on #3
Added command line options `--only` and `--except` in b1b9ea08397931c310353cffd3a909830f6b9393

[2017-08-05 00:22] #3 closed

[2017-08-05 00:22] cjoudrey commented on #5
Added in b1b9ea08397931c310353cffd3a909830f6b9393

[2017-08-05 00:22] #5 closed

[2017-08-05 04:52] #11 closed

[2017-08-05 06:30] cjoudrey opened #13 "Error line/column returned by DeprecationsHaveAReason is not exact"
At the moment the `DeprecationsHaveAReason` rule will use the `line` and `column` of the `FieldDefinition` node rather than the affected `@directive` node.

This means if someone were to highlight the error it would lead to highlighting the wrong part of the line.

**Example**

Current:

[code]

What we actually want:

[code]

[2017-08-05 06:33] cjoudrey opened #14 "Error line/column returned by TypesAreCapitalized is not exact"
Similar to #13, at the moment the `TypesAreCapitalized` rule will use the `line` and `column` of the `ObjectTypeDefinition` node rather than the affected `Name` node.

This means if someone were to highlight the error it would lead to highlighting the wrong part of the line.

**Example**

Current:

[code]

What we actually want:

[code]

[2017-08-06 16:52] cjoudrey opened #16 "Add ability to configure via dot file .graphql-schema-linter"
Rather than have to always configure the linter via command line options, it could be useful to have a dot file at the root of a project to configure what rules should be used.

[2017-08-06 21:37] goldcaddy77 commented on #16
Per our convos, we should also consider a package.json config key to avoid cluttering the project's root folder.

[2017-08-06 21:42] goldcaddy77 opened #17 "Rule naming convention"
Currently rules are PascalCase. Would it make sense to switch to kebab-case to line up with other popular linters like [eslint](eslint.org/docs/rules/) and [tslint](https://palantir.github.io/tslint/rules/)?

[2017-08-07 03:01] cjoudrey commented on #17
😆 that's the first time I hear kebab-case. I'll have to use that more often. haha 😀

For the code, I used PascalCase because that's what `GraphQL.js` uses: https://github.com/graphql/graphql-js/blob/master/src/validation/rules/ScalarLeafs.js.

I'm guessing you're referring to the CLI options `--only` and `--except`, correct? I wouldn't mind adding support for `kebab-case` and updating the README.

[2017-08-07 03:02] cjoudrey commented on #16
I wasn't aware this was something people were doing now. I wouldn't mind support that too if it's a convention people have been adopting.

[2017-08-07 05:55] goldcaddy77 commented on #16
There have been a lot of discussions lately, especially on the [prettier](https://github.com/prettier/prettier) project:

- https://github.com/prettier/prettier/issues/98
- https://github.com/prettier/prettier/pull/2434

A number of projects have started using [cosmiconfig](https://github.com/davidtheclark/cosmiconfig) project to do the config management.

[2017-08-07 05:58] goldcaddy77 commented on #17
👍 Yeah I was referring to the names of the rules: https://github.com/cjoudrey/graphql-schema-linter#built-in-rules

[2017-08-07 16:17] cjoudrey commented on #16
TIL -- Thanks for sharing those lines @goldcaddy77. I wouldn't mind using `cosmicconfig`.

I think we should support `.graphqlconfig` too as per #1.

[2017-08-07 20:08] goldcaddy77 opened #18 "Disabling rules for specific parts of the schema"
There will be times where users want a rule 95% of the time, but want to disable it in certain situations like [eslint disable](http://eslint.org/docs/user-guide/configuring#disabling-rules-with-inline-comments).

I guess the mechanism would need to be in a comment?

[2017-08-07 21:05] cjoudrey commented on #18
Interesting. 🤔

Do you have an example use case for this? I'd lean towards not implementing this unless someone absolutely needs it.

The GraphQL.js parser picks up comments as descriptions for the type that follows it.

Guessing we'd have to wrap all rules at runtime with a function that checks `getDescription(node)`.

[2017-08-07 21:20] cjoudrey opened #20 "Add defined-types-are-used rule"
In order to ensure old types get removed when they are no longer used, we could have a rule that verifies that all types in the schema are referenced at least once.

For example, the rule would warn about the type `User` not being used in the following schema:

[code]

[2017-08-07 21:20] cjoudrey commented on #20
@goldcaddy77 any thoughts on this one?

[2017-08-07 21:25] #17 closed

[2017-08-07 21:39] cjoudrey opened #21 "Add ESLint plugin"
Although we aren't defining the rules the way ESLint expects, we might be able to add a module that makes the linter work with ESLint.

For example: https://github.com/azeemba/eslint-plugin-json/blob/d2d48e30e17d9d4e7c62455ceffbd8338cd5b083/lib/index.js#L25

[2017-08-08 19:54] goldcaddy77 commented on #18
The use case for this would be if somebody wanted all of their Enums sorted alphabetically, but in one instance it made a lot more sense to have them sorted in a more logical order.  I don't think this is critical early on... more rules are probably higher priority :)

[2017-08-08 20:03] goldcaddy77 commented on #20
Love it... would be very similar to this, right? https://github.com/graphql/graphql-js/blob/master/src/validation/rules/NoUnusedFragments.js

[2017-08-09 04:15] cjoudrey commented on #20
Yeah I think the code would be similar.

Something like:

[code]

[2017-08-09 04:17] cjoudrey commented on #18
Makes sense. I'm sure some use case will come along in the future. For now I'd lean towards not adding it.

[2017-08-09 17:41] cjoudrey opened #22 "Add support for severity"
It might be useful to provide a way for the user to define severities for each rule.

For example: `error` or `warning`.

If all problems reported by the linter are warnings, we may want to have the process exit with code `0` instead of `1`.

This issue depends on #1 and #16.

[2017-08-09 17:49] cjoudrey opened #23 "Add --fix option"
Some rules could be fixed by the linter for example `enum-values-sorted-alphabetically`.

It might be interesting to include a `--fix` option which would automatically resolve errors that can be fixed.

[2017-08-10 15:06] #20 closed

[2017-08-11 00:17] #14 closed

[2017-08-11 00:31] #13 closed

[2017-08-12 15:02] goldcaddy77 opened #25 "Remove `--except` and rename `--only` to `--rules`"
Most tools make you explicitly whitelist params.  This is nice because then you avoid the possibility of your project automatically picking up a new rule and starting to fail.  Also, technically each release that adds a new rule would likely be a "breaking change" requiring a major release.  Thoughts?

[2017-08-13 17:23] cjoudrey commented on #25
To be honest, I based myself off a Ruby tool called [rubocop](https://github.com/bbatsov/rubocop) for the `--only` and `--except` options.

I'm with you on the fact that whitelists might be better in this situation since any new rule would automatically get adopted by users as they update the library.

Maybe we should remove `--except`. 🤔

[2017-08-15 03:13] cjoudrey commented on #25
Just to recap our discussion from the PR #26, we said we would :fire: `--except` and rename `--only` to `--rules`.

[2017-08-15 03:15] goldcaddy77 opened #27 "New rule: enums should be UPPER_CAMEL_CASE"
The official spec recommends this, so we should put in a rule for it.

https://facebook.github.io/graphql/#sec-Enum-Value

[2017-08-15 04:19] cjoudrey opened #28 "New rule: field names are lower camel-cased"
Example:

[code]

This rule should verify both interface fields and object type fields.

[2017-08-16 01:33] #25 closed

[2017-08-16 01:34] cjoudrey commented on #16
This was fixed by #26

[2017-08-16 01:34] #16 closed

[2017-08-16 02:27] cjoudrey opened #31 "Add CONTRIBUTING.md"
Some examples:

- [thoughtbot/factory_girl_rails/CONTRIBUTING.md](https://github.com/thoughtbot/factory_girl_rails/blob/dca37318f34b6ac102df70a162c4c5cbd4fc840a/CONTRIBUTING.md)

[2017-08-16 03:05] goldcaddy77 commented on #27
Addressed in https://github.com/cjoudrey/graphql-schema-linter/pull/30

[2017-08-16 03:05] #27 closed

[2017-08-16 20:46] goldcaddy77 opened #32 "Put prettier config settings in package.json"
...so that all of our editors are using the same settings.  Blocked by: https://github.com/prettier/prettier/issues/2589

[2017-08-16 20:54] goldcaddy77 opened #33 "Add git pre-commit hooks to lint with prettier"
I've set this up in a few projects and it's awesome - then you don't need to worry about folks running `yarn run fmt` before checking code in.

[2017-08-16 21:06] goldcaddy77 commented on #33
If we want to do this, addressed by: https://github.com/cjoudrey/graphql-schema-linter/pull/34

[2017-08-17 01:10] cjoudrey opened #35 "Add test helpers for rules"
The current tests for rules are a bit verbose. We might be able to simplify them by writing a few helpers.

We could inspire ourselves from `graphql-js`: https://github.com/graphql/graphql-js/blob/d3fd6c3fd3369b354e79499c07f94e1d62fb5f79/src/validation/__tests__/OverlappingFieldsCanBeMerged-test.js#L89-L115

[2017-08-17 14:26] #33 closed

[2017-08-18 07:45] emmenko opened #36 "Error when query type is in a different file location"
Hey there,

I've been trying this library for linting a SDL, however I'm getting this error:

[code]

The reason is most likely that I have the schema spread out to different files (see [modularizing schema](http://dev.apollodata.com/tools/graphql-tools/generate-schema.html#modularizing)) and I'm using the `extend` keyword for extending the `Query` type.

[code]

Any idea if this might work?

Many

[2017-08-19 17:16] cjoudrey commented on #36
Great question @emmenko.

I can see a few issues at the moment.

`graphql-schema-linter` only supports a single `schema.graphql` file as input. The `extend type Query` use case is a great example of why we might want to support multiple files as input, i.e. `schema/**/*.gql`. This is something I will fix soon.

That said, this wouldn't entirely solve your issue since your `type Query { .. }` and `

[2017-08-21 08:21] emmenko commented on #36
Hey, thanks for the feedback.

Great, looking forward for that ;)

No reason, I actually moved all pieces of the schema in `.gql` files. Thanks for the hint!

Other than that, I can wait for a proper usage to avoid doing workarounds. It's not a crucial thing after all.

[2017-08-21 16:10] cjoudrey opened #37 "Add support for schemas that are split amongst many files"
re: #36 and [modularizing the schema](http://dev.apollodata.com/tools/graphql-tools/generate-schema.html#modularizing)

- Add support for glob
- Add `file` key to JSON returned by to `JSONFormatter`
- Group errors returned by `TextFormatter` into multiple blocks. Prefix each block with the name of the filename.

[2017-08-22 19:07] cjoudrey opened #38 "Better error reporting when using --stdin option and nothing is passed into stdin"
Reported by @goldcaddy77

At the moment this happens:

[code]

We should probably return a more legible error message for this.

[2017-08-25 17:41] goldcaddy77 opened #40 "README update for `lint-staged`"
In reviewing https://github.com/cjoudrey/graphql-schema-linter/pull/39, I realized we should put a usage recommendation in the readme for using lint-staged

Also, the popular lint-staged project (linting only files that have changed in your current git commit) passes multiple files in via command line args. Typically, the assumption is that the files are linted in isolating, but it seems like for

[2017-08-25 21:26] cjoudrey commented on #40
:+1: all for having more documentation.

Question about `"lint-staged"`. Some people might store both the server and the client code in the same repository. Is it possible to specify `"schema/*.graphql": ["graphql-schema-linter"]` or can you only specify file extensions i.e. `".graphql"`?

[2017-08-28 02:31] #37 closed

[2017-08-28 02:47] cjoudrey commented on #36
@emmenko v0.0.13 now has support for modularized schemas. 😁

Example:

<img width="591" alt="screen shot 2017-08-27 at 10 42 46 pm" src="https://user-images.githubusercontent.com/385270/29757416-b065faec-8b79-11e7-9820-db949ec553e1.png">

[2017-08-28 03:15] #36 closed

[2017-08-28 18:16] emmenko commented on #36
Awesome, thanks!!

[2017-08-28 19:39] cjoudrey commented on #32
I think we can do this now! :tada:

https://github.com/prettier/prettier/releases/tag/1.6.0

[2017-08-28 21:39] emmenko commented on #18
I would also like to have this feature. Think about it as `eslint-disable/enable` comment syntax.

The use case I'm having at the moment is the same as @goldcaddy77 (enums sorted alphabetically).

I can image having something like:

[code]

The `/**/`is just an example of having a special syntax to parse it.

Thanks a lot!

[2017-08-28 21:55] #6 closed

[2017-08-28 23:38] cjoudrey commented on #18
@emmenko that's an interesting use case for an enum that shouldn't be sorted alphabetically. 🤔

I find the syntax for enabling/disabling a bit verbose, but we can tweak that.

I'll take a stab at this shortly.

[2017-08-29 00:40] goldcaddy77 commented on #32
Done https://github.com/cjoudrey/graphql-schema-linter/pull/43

[2017-08-29 01:12] goldcaddy77 opened #44 "Object.values is not a function"
`Object.values` doesn't seem to be supported in the [LTS version of Node](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/values).  We should use a workaround [like this](https://stackoverflow.com/a/38748490) so that we support Node 6.

[2017-08-29 01:34] goldcaddy77 commented on #40
Done. https://github.com/cjoudrey/graphql-schema-linter/pull/45

[2017-08-29 01:34] goldcaddy77 commented on #44
Fixed. https://github.com/cjoudrey/graphql-schema-linter/pull/46

[2017-08-29 22:05] cjoudrey commented on #18
@emmenko @goldcaddy77  I've spent the day toying on this and it looks like it won't be too difficult to add.

What are your thoughts on this syntax (inspired from [eslint](https://eslint.org/docs/user-guide/configuring.html#configuring-rules))?

[code]

Basically you have:

- `# lint-disable rule1, rule2, rule3, ...`
- `# lint-enable rule1, rule2, rule3, ...`
- `# lint-disable-line rule1, rule2, r

[2017-08-29 22:35] #32 closed

[2017-08-30 02:59] #44 closed

[2017-08-30 03:25] #40 closed

[2017-08-30 17:25] cjoudrey commented on #18
Just thought of a potential issue with using comments within the schema definition to configure the linter.

When parsing the schema definition to build the schema, [GraphQL.js](https://github.com/graphql/graphql-js/blob/96a869af951e7b7216e7b79ccfcb170b779ad4e9/src/utilities/buildASTSchema.js#L468-L499) (and possibly other implementations) look before definitions and use any comments as the defini

[2017-08-30 17:59] emmenko commented on #18
🤔 I see.
Yeah using comments doesn't seem to be the correct way to handle this.

You mention above using a configuration object and that it's not close to the schema.
How about having "ignore" (dot) files next the actual schema file instead? Something like `.gitignore` or `.eslintignore`. When globbing the files in the project you can check if there is such a "dot" file and use it for the related

[2017-09-02 17:28] cjoudrey commented on #18
I like this idea. It almost sounds like supporting multiple configuration files where the configuration files in subdirectories take precedence over configuration files in parent directories.

This combined with specifying exceptions for a given _path_ could probably solve most issues. When I say _path_ I mean `Size`, `User.email`, `User.*`, etc..

[2017-09-03 15:16] goldcaddy77 commented on #18
Just getting caught up on this one. A few thoughts:

- Seems like having comments in the file is DOA because other tooling will read those comment she and display them (like Graphiql)
- Having a "cleaning" step seems like the linter would become too tangled with the DEV workflow.
- Not sure I like the idea of multiple ignore files as it makes the tool feel more heavyweight and many of the rules wi

[2017-09-04 21:53] emmenko opened #47 "Cannot install package, broken dependency "cosmiconfig#3.0""
[code]

Refs: https://github.com/cjoudrey/graphql-schema-linter/pull/26#discussion_r132853023

Apparently the `3.0` branch has been [merged 2 days ago and deleted](https://github.com/davidtheclark/cosmiconfig/pull/78). Please use a normal version thanks.

[2017-09-08 01:53] mellocello2003 commented on #47
This is a major issue since it affects released versions.  Can we get an update on this?  Thanks!

[2017-09-10 17:36] cjoudrey commented on #47
Sorry for the radio silence only saw this last night. Merged #48 and released 0.0.17 which should fix this. Thanks for reporting the issue. 😀

I need to check why I didn't get a GitHub notification when this issue was created. 🤔

[2017-09-10 22:32] #47 closed

[2017-09-11 15:11] entropitor opened #49 "Add rule to detect trailing comma (cfr. comma-dangle from eslint)"
Is it possible to add a rule that detects if there is a trailing comma and errors if not?

(Like the comma-dangle rule in eslint)

[2017-09-15 17:34] cjoudrey commented on #49
Hi @entropitor thanks for opening the issue. 😄

Just to clarify, where exactly would you want to enforce trailing comma? Can you provide an example?

Thanks!

[2017-09-18 16:40] entropitor commented on #49
[code]

[2017-09-25 15:02] cjoudrey commented on #49
Gotcha!

The comma is optional. From what I've seen most people omit them.

I think this belongs in `prettier` as it is something that can automatically be fixed and is something that affects both `.graphql` schema files and query files. It isn't limited to schema definitions.

What do you think?

[2017-10-25 13:41] bbohen commented on #23
@cjoudrey I'd like to check this out, I might not be able to get to it for a few days as I'm at the summit but I'll start messing around with it. Cool idea by the way 👍.

[2017-10-25 14:34] cjoudrey commented on #23
That would be awesome @bbohen. 😀

Whenever you do poke at it, let me know if you need help or want to discuss solutions.

[2017-10-25 18:01] bbohen commented on #23
Absolutely! I think it would be really nice to be use this with ESLint per #21.

[2017-10-27 04:27] MatthewHerbst commented on #21
Why not just make this whole package an ESLint plugin?

[2017-11-18 19:25] hegdeashwin commented on #31
@cjoudrey This is address in this [PR](https://github.com/cjoudrey/graphql-schema-linter/pull/52)

[2017-11-19 08:00] hegdeashwin commented on #1
See updated link: [here](https://github.com/graphcool/graphql-config)

[2017-11-20 15:10] #31 closed

[2017-11-21 11:39] mscharley opened #53 "Unhelpful errors"
Output:

[code]

I'm not sure what exactly leads to this, this is while I'm trying to clean up after a massive brainstorming session with the rest of my team. When I dig up more information I'll report back with what I find.

[2017-11-21 16:02] cjoudrey commented on #53
Thanks for the report @mscharley.

I was just looking at the line that caused the error, could it be that you have a `.graphql` file that has no line breaks?

https://github.com/cjoudrey/graphql-schema-linter/blob/e1800eb82cb048135832f344fe7d188487c29e1e/src/source_map.js#L14

In that case the `.match` would return `null` and it would 💥.

Sounds like a legit issue that should be fixed.

[2017-11-21 20:24] mscharley commented on #53
Ah yes, that's it. I had an empty file which is what triggered it. Deleting that since the contents had been moved elsewhere solved this issue.

[2017-11-21 21:14] mscharley commented on #53
In a similar vein, the following sorts of errors are showing up too. The raw errors are useful, but the CLI reports them as potential bugs:

[code]

[code]

[2017-11-21 23:08] cjoudrey commented on #53
💯 agree with you on catching these errors and reporting them instead of bailing as we do atm.

I'll open a PR to fix both of these problems.

[2017-11-24 04:18] mscharley opened #54 "unions aren't validated as having documentation"
[code]

The above should fail linting as it has no documentation.

[2017-11-24 04:19] mscharley opened #55 "input types don't get documentation validated"
[code]

The above should fail linting as it has no documentation.

[2017-11-25 18:46] cjoudrey commented on #54
Good catch, I'll make a release for this shortly.

[2017-11-25 18:49] #54 closed

[2017-11-25 18:53] cjoudrey commented on #55
Thanks again for the bug report @mscharley.

I'll have this fixed in a release shortly.

[2017-11-25 18:55] #55 closed

[2017-11-25 20:44] cjoudrey commented on #49
@entropitor I'm going to close this as I feel this should be handled by `prettier`. Feel free to re-open if you disagree.

[2017-11-25 20:44] #49 closed

[2017-11-26 00:37] mscharley commented on #55
@cjoudrey thanks for the update! Fields of input types still aren't being validated with 0.0.19 though:

[code]

The above should fail too, requiring that bar is documented shouldn't it?

[2017-11-26 02:01] cjoudrey commented on #55
@mscharley you are correct, good catch once again. 😀

The `types-have-descriptions` rule validates type definitions have descriptions, but not fields.

There is a second rule called `fields-have-descriptions` that validates object/interface type fields have descriptions. I believe input type values (i.e. `bar` in your example) should be validated by this rule, but currently aren't. I'll fix this.

[2017-11-26 02:32] cjoudrey opened #62 "New rule: input object type values have descriptions"
As reported in https://github.com/cjoudrey/graphql-schema-linter/issues/55#issuecomment-346975694, there is currently no rule to ensure input object type values have a description.

Example:

[code]

Rather than add this to the existing `fields-have-descriptions` rule, I think we might want to roll this out as a new rule such that users can opt in to it.

cc @mscharley

[2017-11-26 02:32] cjoudrey commented on #62
I'll tackle this tomorrow.

[2017-11-26 02:34] cjoudrey opened #63 "New rule: enum values have descriptions"
The `types-have-descriptions` rule currently validates enum types have a description, but there is no rule that validates enum values have a description.

We might want to roll this out as a new rule such that users can opt in to it.

[2017-11-26 02:51] mscharley commented on #62
I don't necessarily disagree with it being it's own rule though my vote would be to have it in the default set of rules so that users would opt-out rather than opt-in. This way all fields must have descriptions by default and there's no surprises in the default configuration.

[2017-11-26 02:54] mscharley opened #64 "JUnit formatter"
Some other linters (specifically for me, `tslint`) have the ability to output results in the JUnit test result format. This gives instant integration with a wide variety of CI and testing tools.

[2017-11-26 03:36] cjoudrey commented on #62
:100: the default behaviour is to validate the schema against all rules.

If someone only wants a subset of the rules they can do so by specifying a whitelist via `--rules <rules>`. When someone uses this option, they will not _automatically_ get new rules. They will need to opt in to them. This might sound like a downside, but I've been told it makes upgrading the package easier as they don't nee

[2017-11-26 03:41] cjoudrey commented on #64
I'm not familiar with the JUnit test result format, but I'm happy to add it if it makes integrating with other tools easier. 😀

I'm assuming it's safe for me to base myself on: https://palantir.github.io/tslint/formatters/junit/ and https://github.com/palantir/tslint/blob/cbdcfb5b7e82eacb4d3c97e06e678d1169684030/test/formatters/junitFormatterTests.ts#L51-L77?

[2017-11-26 04:26] mscharley commented on #64
Early versions of tslint's junit support were functional but kind of hairy in the output the produced. the latest versions are pretty solid though.

[2017-11-26 04:29] mscharley commented on #64
Regarding other tools - junit has become something of a standard for test output. It's to the point now that you can reach 80% of all tools with just that one format, and most *test runners* support it either natively or via plugin.

Using it for linters is a bit of a hack, but it works! It's just that you only get failures, you don't really want to report about successes.

[2017-11-26 20:01] #62 closed

[2017-11-26 20:14] #63 closed

[2017-11-26 20:20] cjoudrey opened #67 "New rule: arguments are lower camel-cased"
Example:

[code]

[2017-11-26 20:56] cjoudrey commented on #63
This rule has been added to `v0.0.20`.

[2017-11-26 20:56] cjoudrey commented on #62
This rule has been added to `v0.0.20`.

[2017-11-26 21:40] mscharley opened #68 "Can't run 0.0.20 from node_modules"
I can't even get a version number out of it:

[code]

[2017-11-26 21:54] cjoudrey commented on #68
🤦‍♂️ well that's embarrassing. I'll fix that typo and I'll double-check why the tests didn't catch that. Thanks.

[2017-11-26 21:58] cjoudrey commented on #68
@mscharley this should be fixed in `0.0.21`.

[code]

Sorry about that and thanks again for reporting the issue. 😀

[2017-11-26 21:59] #68 closed

[2017-11-26 22:34] cjoudrey commented on #64
[The output I see in `tslint`'s test suite](https://github.com/palantir/tslint/blob/cbdcfb5b7e82eacb4d3c97e06e678d1169684030/test/formatters/junitFormatterTests.ts#L51-L77) seems pretty straight forward.

One prerequisite to this is knowing what rule each error originated from (#7). I'm tackling this at the moment which should make implementing a JUnit formatter pretty trivial.

@mscharley can you

[2017-11-26 23:05] mscharley commented on #64
I'd be more than happy to test a branch with our tool chain

[2017-11-27 00:51] mscharley opened #70 "Another compilation issue reported as a bug"
[code]

[code]

[2017-11-27 03:28] cjoudrey commented on #70
😭 so there is a legit issue with the schema `Person` isn't a `interface`, but `graphql-schema-linter` shouldn't be crashing. This is another case of https://github.com/cjoudrey/graphql-schema-linter/issues/53#issuecomment-346191121.

I'll see if I can get an update on https://github.com/graphql/graphql-js/issues/546 as in order to properly fix this crash we need to know when there is syntax errors

[2017-11-27 03:31] mscharley commented on #70
Yeah, this case is really annoying specifically because there's *no information at all*. no file, no name, no nothing. I'm not sure of the structure of your code but even if you could return the file instead of crashing that would be great.

[2017-11-27 03:39] cjoudrey commented on #70
Yeah, I agree :100:.

The problem is that this error is thrown from `graphql-js` without any information. 😢 Rather than throwing a generic `Error`, `graphql-js` should be throwing some sort of `SyntaxError` that includes the problematic AST `node`. That way `graphql-schema-linter` could report it back properly.

I'll keep you posted. Sorry for the trouble.

[2017-11-27 03:42] mscharley commented on #70
No problem! Just reporting things as I run into them. In my case the `Person` type has moved back and forth between an interface and a type a few times while we design the schema and I forgot that we last settled on a type.

[2017-11-30 05:07] #7 closed

[2017-11-30 05:15] cjoudrey commented on #64
I just shipped #71 which lets us know from what rule an error originated from. This will help for the JUnit formatter.

I'll tackle this open issue this weekend.

[2017-11-30 05:23] mscharley commented on #64
Amazing work Christian, thanks so much.

[2017-12-01 04:04] cjoudrey commented on #18
I completely missed this comment of yours @goldcaddy77.

I was thinking we could follow the same way GraphQL builds the `path` argument in `errors`.

[code]

The path to the field `a` would be `Query.a`.

[code]

The path to the field `Status` would simply be `Status`. The path to the enum value `DRAFT` would be `Status.DRAFT`.

We could then allow overrides by doing:

[code]

I'm not :100: sure i

[2017-12-04 00:52] cjoudrey opened #77 "Descriptions as strings"
As per https://github.com/graphql/graphql-js/pull/927, descriptions are now strings instead of comments in the SDL.

In order to provide a graceful upgrade path, we could bump `graphql-js` and add a new configuration option called `--comments-as-descriptions` that would toggle `buildASTSchema`'s `{commentDescriptions: true}`.

[2017-12-04 05:32] bwillis commented on #2
Do you have any thoughts on how this might be configured? I looked around for some inspiration, maybe something like eslint:
[code]

[2017-12-04 20:49] codegoblin opened #78 "modular schema file bug"
Hi there,

I have a folder hierarchy that's roughly `src/api/graphql/[graphql_files].graphql` ... when I run `graphql-schema-linter ./**/*.graphql` the linter works fine, however, if I include
[code]
in the package.json, or run `graphql-schema-linter ./api/**/*.graphql`, or `graphql-schema-linter ./api/graphql/**/*.graphql`, I get
[code]
the ContentArea type is of course defined in the path and wo

[2017-12-05 20:42] cjoudrey commented on #78
Thanks for reporting this issue @codegoblin.

Full disclosure, I'm not super familiar with `lint-staged`.

[Quickly reading over the docs for `lint-staged`](https://github.com/okonet/lint-staged#simple-config-format), it sounds like when you do `"*.graphql": ["graphql-schema-linter"]` only the files you are `git add` will get passed as arguments to `graphql-schema-linter`.

This would explain why

[2017-12-05 22:06] codegoblin commented on #78
well once again, regardless of lint-staged, `graphql-schema-linter ./api/graphql/**/*.graphql` also doesn't work. https://imgur.com/a/K2QH4 for the folder structure ... assume there are a ton more .graphql files within the types/ folder in the image. running the command from the dir above src/

[2017-12-06 05:00] cjoudrey commented on #78
@codegoblin I'm really stumped by this issue. 🤔

When testing locally in this repo, this works for me: `graphql-schema-linter ./test/fixtures/**/*.graphql`.

If you are certain `ContentArea` is defined, then this means the file it's defined in isn't getting loaded.

Is it possible that you have subfolders in `types/` and `ContentArea` is defined in a subfolder?

If so, maybe this would help:

[cod

[2017-12-09 03:40] cjoudrey commented on #78
@codegoblin just wanted to follow up with you to see if you were still experiencing this issue. If so any thoughts on my comment above?

[2017-12-10 18:03] cjoudrey commented on #2
Good question. 🤔

I was going to take a look at `eslint` and some non-JavaScript libraries like [Rubocop](https://github.com/bbatsov/rubocop) for ideas.

I haven't thought this through, but I think we should provide a way to dynamically load npm packages and specify what rules to use from that package. We may also want to provide a way to dynamically load a JS file that way people don't necessaril

[2017-12-11 02:06] bwillis commented on #2
Yeah, I also looked at how we use Rubocop, pretty similar structure:
[code]

So, to sum it up, the loading of libs could have two flavors: either direct path (like Rubocop) or an npm package (similar to eslint) and it should be ignorant of why it's being loaded (so this could also be used for #9 also). Then to allow control over what rules are loaded, we could use the existing configuration of rul

[2017-12-11 02:15] cjoudrey commented on #2
Yeah, this is exactly what I had in mind. 😄

The only thing I was wondering is when you specify `—rules` you are providing a whitelist. If we were to have people use their custom rules with that option, they would lose the ability to “run all rules by default”.

[2017-12-13 02:47] iamclaytonray commented on #23
@cjoudrey @bbohen - Is this still being worked on? If not, I may take a stab at it

[2017-12-13 04:08] cjoudrey commented on #23
I’m not working on it atm. If @bbohen isn’t, I’d say go for it. 😀

[2017-12-13 08:12] iamclaytonray commented on #23
@cjoudrey - I'll wait to see what @bbohen says

[2017-12-14 13:11] bbohen commented on #23
@iamclaytonray Go for it! I was all excited to work on this and then work got really busy 😬 .

[2017-12-14 17:11] iamclaytonray commented on #23
Thanks @bbohen!

No promises but I'll try to get a rough copy up and then we can iterate 🙂

[2018-01-03 10:03] patrick91 opened #80 "Support for imports"
Hi, I've tried running graphql-schema-linter on multiple files with the latest version of [graphql](https://github.com/graphql/graphql-js) but the linting breaks with this error:

[code]

Which seems to be caused by this: https://github.com/graphql/graphql-js/pull/1124

My workaround was to merge all the files with AWK and lint the merged schema,
`awk 'FNR==1{print ""}1' ../api/**/*.graphql | grap

[2018-01-03 11:07] patrick91 commented on #80
I just found out that this is already working, if you pass a glob the library will concatenate all the files :)

https://github.com/cjoudrey/graphql-schema-linter/blob/55bdcd4ce28c634372110a2d53d1393c61303ab8/src/configuration.js#L33-L62

[2018-01-03 11:07] #80 closed

[2018-01-11 02:20] #28 closed

[2018-01-11 02:20] #67 closed

[2018-01-12 19:23] boopathi commented on #78
I don't think this issue can be resolved in a way to lint only the files sent from `lint-staged`. graphql/validation [expects the entire schema](https://github.com/graphql/graphql-js/blob/6f151233defaaed93fe8a9b38fa809f22e0f5928/src/validation/validate.js#L61) and then it traverses through applying rules for other validations. I haven't checked more on if `graphql/validation` can build partial sch

[2018-01-14 23:22] cjoudrey commented on #78
This is a great point @boopathi. We could always validate the entire schema and then filter the reported errors to only include errors for given files. To be honest, I'm not sure if we need to support this use case though. I'm open to being convinced otherwise though.

[2018-01-14 23:35] cjoudrey commented on #78
I'm going to close this now that the `README.md` has been updated and #82 fixes crash when duplicate paths are passed. Feel free to re-open if you think there's other things to be done.

[2018-01-14 23:35] #78 closed

[2018-01-16 09:54] iamclaytonray commented on #23
Sorry for being so late on this. Totally dropped the ball. Umm... @cjoudrey - Can we add a task list to the original issue that includes which rules should be fixable?

[2018-01-16 09:56] iamclaytonray commented on #23
I'll be working on this for at least today and hopefully more. I've never written a lint fixer so I'm in new waters. May take a bit but I'll do my best 😄

[2018-01-16 16:06] cjoudrey commented on #23
@iamclaytonray I've never written something like this before either. 😁 I would have looked into [ESLint](https://github.com/eslint/eslint) and [Rubocop](https://github.com/bbatsov/rubocop).

Conceptually, I was thinking each rule would be able to optionally provide a function that the linter would use to _fix_ the issue. I think we'll want to make these changes by manipulating the AST at some poin

[2018-01-16 16:10] iamclaytonray commented on #23
That makes sense to me! Thanks for the kind words 😄

I've been looking into TSLint and ESLint. Didn't think of Rubocop. I'll have to check that one out. Thanks!

[2018-01-16 18:33] iamclaytonray commented on #23
So that I can check these off:

- [ ] EnumValuesAllCaps
- [ ] EnumValuesSortedAlphabetically
- [ ] FieldsAreCamelCased
- [ ] InputObjectValuesAreCamelCased
- [ ] TypesAreCapitalized

[2018-01-16 19:58] iamclaytonray commented on #23
@cjoudrey - I'd like to integrate this fix feature (when it's done) with `graphql-cli` as well. Do you have any thoughts on that? I'm sure Johannes would love to chime in as well

[2018-01-16 20:16] cjoudrey commented on #23
@iamclaytonray yeah, that makes sense. You might be interested by this open issue: https://github.com/graphql-cli/graphql-cli/issues/14

At the moment [`graphql lint` does schema linting](https://github.com/graphql-cli/graphql-cli/blob/7b642f659b318fc64618c3d3b82886a725cd39f9/src/cmds/lint.ts), but I recall Johannes mentioning he wanted to have `graphql lint schema`. `graphql lint` would be for qu

[2018-01-16 20:16] iamclaytonray commented on #23
Sounds good!

[2018-01-17 02:57] #2 closed

[2018-01-17 03:14] cjoudrey opened #83 "Gracefully handle when no schema is provided"
At the moment this causes a crash:

[code]

[2018-01-17 03:15] cjoudrey opened #84 "Gracefully handle when an non-existing schema file is provided"
At the moment this causes a crash:

[code]

[2018-01-24 17:41] adampash commented on #77
As a new user, this is a blocker for me (I'm using the latest `graphql-js` but can't write descriptions with strings if I'm using this linter). Looking into it, it looks like the latest release of `graphql-js` has removed the `getDescription` export, but it's been [merged back into master](https://github.com/graphql/graphql-js/pull/1165). It seems like once `graphql-js` cuts a new release, `graphq

[2018-01-24 23:16] cjoudrey commented on #77
@adampash thanks for the feedback. Now that the changes were shipped in `graphql-js` I think this becomes even more important.

I believe we could also temporarily run off `graphql-js`'s `master` branch if a release doesn't come shortly.

[2018-01-26 06:36] cjoudrey commented on #23
@iamclaytonray have you managed to make any progress on this by any chance? 😀😀

[2018-01-26 19:26] iamclaytonray commented on #23
Sorry, no :/

I had a family emergency that's had me busy for the past week.

I actually just started picking this up again this morning.

[2018-01-26 19:31] cjoudrey commented on #23
@iamclaytonray No need to be sorry! I was just curious. 😄 Hope all is well.

[2018-01-27 01:01] #35 closed

[2018-01-27 21:59] 0xcaff commented on #10
It looks this this is already in `graphql-cli`.

https://github.com/graphql-cli/graphql-cli/blob/7b642f659b318fc64618c3d3b82886a725cd39f9/src/cmds/lint.ts#L1

[2018-01-27 22:01] 0xcaff opened #86 "Lint to Check Relay Connection Compliance"
Ensure that the schema doesn't violate any of the constraints outlined in the relay [connection specification](https://facebook.github.io/relay/graphql/connections.htm#sec-Arguments).

[2018-01-27 22:07] cjoudrey commented on #10
Good point @0xcaff! 😄 Maybe we should document this in the usage section of `README.md`. 🤔

[2018-01-28 03:13] cjoudrey commented on #86
@0xcaff did you have any thoughts on we could detect whether a field is a connection or not?

Only idea I had was to verify if the type of the field ends with `Connection`, but I'm not sure if everyone follows this convention.

[2018-01-28 03:18] 0xcaff commented on #86
I was thinking of a rule which could be turned on by the user. According to the relay specification:

[From the spec][spec]

So I think we can safely make this assumption.

[spec]: https://facebook.github.io/relay/graphql/connections.htm#sec-Connection-Types

[2018-01-28 03:20] cjoudrey commented on #86
Oh wow, good find! :+1:

[2018-01-31 05:55] ajay-nagarro opened #87 "Error: Type abc was defined more than once."
Hi,

I am facing some strange issue when running linter on multiple graphql schema. I have multiple schema in my directory. I can have same type/enum there when we consider two schema files. If one schema has "abc" type then second schema can also have same type.

This is my configuration to run linter:

[code]

In case of, for example type `abc` exists in two schema files then I am getting an err

[2018-02-03 18:57] cjoudrey commented on #87
It sounds like have two schemas that share types.

If this is the case, you'll want to run `graphql-schema-linter` once for each schema.

When you provide multiple `.graphql` files to `graphql-schema-linter` it assumes your schema is divided into multiple files and it will concatenate them all together.

Running `graphql-schema-linter schema1.graphql schema2.graphql` will concatenate `schema1.grap

[2018-02-04 07:03] ajay-nagarro commented on #87
Yes, Running `graphql-schema-linter` once for each schema is OK. I have pre commit hooks where I am validating all schema using this regex in package.json. So there could be multiple schemas and there could be same type in some schema.

[code]

Can we do something with this regex `modules/*/graphql-schema/consolidate.gql` so `graphql-schema-linter` will run once for each schema.

[2018-02-04 19:40] iamclaytonray commented on #23
Hey @cjoudrey. I am still hacking away at this, a little bit at a time. I just got super slammed with work so I've been doing what I can in my off time. If anyone else in the community wants to help me out, I would definitely appreciate it 😄

[2018-02-08 03:27] #83 closed

[2018-02-08 03:27] #84 closed

[2018-02-08 11:56] ajay-nagarro commented on #87
Hey @cjoudrey can you please suggest any workaround on this ?

[2018-02-08 15:23] cjoudrey commented on #87
Before adding a new option flag to support multiple schemas to `graphql-schema-linter` I'd like to make sure this is a common use-case as it will add complexity.

In the meantime a workaround could be to define them each individually in `lint-staged`:

[code]

[2018-02-11 23:01] cjoudrey commented on #87
I added some clarity around `lint-staged` to the `README` in https://github.com/cjoudrey/graphql-schema-linter/commit/a23434eef7a56e100911809a875daac33df7520c to cover the above issue.

I'm going to close this issue for now. Feel free to re-open if you think this is still a problem.

[2018-02-11 23:01] #87 closed

[2018-02-12 04:01] cjoudrey commented on #77
@adampash just wanted to give you an update. I'm working on this at the moment and should be available in next release. 😁

[2018-02-12 23:25] #38 closed

[2018-02-12 23:34] #77 closed

[2018-02-12 23:40] cjoudrey commented on #77
This has shipped in `0.1.0`.

[2018-02-13 00:52] adampash commented on #77
Thanks @cjoudrey!!

[2018-02-15 06:05] mscharley opened #108 "`relay-connection-types-spec` - Non-null list for `edges` field reports an error"
[code]

I feel like this should be an ok definition.

[2018-02-16 15:51] cjoudrey commented on #108
I tend to agree with you. I don't see why a non-null list would be problematic.

However, it's a bit ambiguous in [the specification](https://facebook.github.io/relay/graphql/connections.htm#sec-Connection-Types). 🤔

Notice how the `pageInfo` field specifically says **non-null** where as for the `edges` simply says **list type**. 🤔What I'm unclear on is whether **list type** in this context means

[2018-02-16 19:15] mscharley commented on #108
To be honest, nullable lists of nullable items, which is the default for `[Foo]` are kind of pointless. A `null` edges object would mean that there is no resultset at all - the Connection itself should be null. I can see that perhaps the elements inside `edges` may need to be nullable in some cases, but that really shouldn't be relevant to the spec one way or the other.

[2018-02-16 22:16] cjoudrey commented on #108
:+1: I'll open a pull request to allow non-null list types in this rule since the specification is ambiguous. That should solve the problem you are reporting. Thanks for bringing this up.

[2018-03-08 22:21] #108 closed

[2018-03-08 22:22] cjoudrey commented on #108
Sorry this took so long to do. Will create a release for this fix shortly.

[2018-03-15 02:36] cjoudrey opened #113 "Add rule to cover section 3 (edge types) of the Relay spec"
Add a new rule called `relay-edge-types-spec` that covers: https://facebook.github.io/relay/graphql/connections.htm#sec-Edge-Types

[2018-03-15 02:37] cjoudrey opened #114 "Add rule to cover section 4 (arguments) of the Relay spec"
Add a new rule called `relay-connection-arguments-spec` that covers: https://facebook.github.io/relay/graphql/connections.htm#sec-Arguments

[2018-03-17 20:08] trashhalo opened #117 "add rule for schema indentation"
There doesn't seem to be a rule to fail weird indentation. like some of my types had 2 spaces some 4.

[2018-03-21 02:14] goldcaddy77 opened #118 "New Rule: Array bang bang"
Many have argued that the default behavior of Arrays in the schema should be `[Obj!]!`: ex:

[code]

Most of the time, when you see:

[code]

It's a mistake, because then `null` and `[null, null]` are valid values - which is most likely not the cast.  Thoughts on a new rule for this?

[2018-03-21 02:32] cjoudrey commented on #118
That's an interesting thought @goldcaddy77.

I've definitely seen cases where someone wanted `[Baz!]` but used `[Baz]` by mistake.

That said, I don't feel comfortable enforcing `[Obj!]` or `[Obj!]!` in the default list of rules because I'm sure some people have legitimate cases for this.

One idea could be to expose this rule in another package and I wouldn't mind linking to it in the `README.md`

[2018-03-25 20:43] trashhalo commented on #117
I prefer that code not get committed into my teams github that doesn't follow our style guide. Generally how you manage this is fail builds if your eslint fails. Most eslint problems can be dealt with by just running `eslint --fix`.

It looks like I can use prettier with --debug-check to fail builds on style

[2018-03-29 03:43] goldcaddy77 commented on #118
This is actually a hard rule at my company.  Thoughts on exposing it and just not having it in the default rule set?  So if we agree `[Obj]` is bad, that leaves us with:

- `[Obj!]` - this allows `null` as a valid value that can be passed back through the API
- `[Obj]!` - this requires an array, but `[null]` is a valid value

I understand there is probably some weird edge case where one of these n

[2018-03-29 06:16] gracenoah opened #120 "Camel case test is too strict"
The following should be considered a valid use of camel case:
[code]
In general, consecutive capital letters should be allowed in camel case names. Please let me know if there is a javascript or graphql convention that I'm not aware of that requires abbreviations in camel case names to start with a capital letter and continue in lowercase. If not, I would like this rule to be relaxed and I'm willi

[2018-03-29 13:43] cjoudrey commented on #120
I agree @gracenoah. I ran into a similar issue with other acronyms like `postURL`. Feel free to open a PR.

[2018-03-31 16:18] #120 closed

[2018-03-31 16:19] #114 closed

[2018-04-08 02:27] cjoudrey commented on #18
Just circling back to this, now that descriptions are defined using strings, the concerns I had in https://github.com/cjoudrey/graphql-schema-linter/issues/18#issuecomment-326061500 are no longer an issue.

I'd be happy to support disabling rules using an inline comment like eslint supports.

[2018-04-10 09:36] SpaceHeroGuide opened #125 "Support splitting schema into subfolders"
If the GraphQL schema is split into multiple files and some files are moved to a subfolder the linter will crash.

If you clone https://github.com/tonyghita/graphql-go-example and try to lint the schema with
[code]

it will crash:

[code]

However if you move all files from the folder `schema/type` to `schema` it will work:
[code]

I searched the GraphQL documentation to check if they recommend ke

[2018-04-10 14:32] cjoudrey commented on #125
@SpaceHeroGuide thanks for the report. :smile:

I was able to reproduce the issue with the repository you provided.

I'm assuming you are using Bash (let me know if that isn't the case), but here's what I noticed.

When running `graphql-schema-linter schema/**/*.graphql` in Bash, `schema/**/*.graphql` is expanded to:

[code]

You can try this out yourself using `ls`:

[code]

As you can see a bunc

[2018-04-10 14:32] #125 closed

[2018-04-10 14:37] SpaceHeroGuide commented on #125
Thank you!

Wrapping the glob in double quotes worked!

[2018-05-07 02:07] loicplaire opened #132 "Errors for `{types| fields}-have-descriptions` rules are reported twice"
It seems that the errors for `types-have-descriptions` and `fields-have-descriptions` rules are reported twice e.g:

[code]
I setup a quick repo with an example: https://github.com/loicplaire/graphql-schema-linter-duplicated-errors

Am I missing something?

[2018-05-08 02:50] cjoudrey commented on #132
Thanks for the report Loic! That is strange indeed. I will look soon.

On Mon, May 7, 2018 at 4:07 AM Loic Plaire <notifications@github.com> wrote:

[2018-05-16 22:26] #132 closed

[2018-05-16 22:30] cjoudrey commented on #132
This should be fixed in `0.1.6`. Sorry for the inconvenience.

[2018-05-17 21:41] loicplaire commented on #132
Thanks for the quick fix @cjoudrey! 👍

[2018-05-23 03:01] steezeburger commented on #18
@cjoudrey This would be great to have as I'd like to ensure my lint tests pass in my CI and we have some enums like:

[code]

[2018-05-23 03:28] cjoudrey commented on #18
That’s a good use case @steezeburger. I’ll take a stab at this later this week. 😀

[2018-05-23 07:21] renovate[bot] opened #135 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Preset name not found within published preset config (monorepo:angularmaterial). Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2018-05-23 10:00] #135 closed

[2018-05-24 05:44] ajaysaini-sgvu opened #136 "How to add custom message in case linting fails"
I have schema where type field is `undefined`. For example:

[code]

When I run linting on above schema then it fails with below errors. Can I have a custom message according to me ? Any workaround of this issue ?

[code]

[2018-05-24 22:36] cjoudrey commented on #136
Hello @ajaysaini-sgvu! 😄 Thanks for the report. I believe this is a similar issue to #70.

The problem stems from `graphql-schema-linter` leveraging the `buildASTSchema` function from GraphQL.js.

This method currently does not provide granular errors for some validations like type not found:

https://github.com/graphql/graphql-js/blob/0a30b62964efe16e3e87b0e8fea40bc9665f9393/src/utilities/buildAS

[2018-06-08 10:50] n1ru4l commented on #118
@goldcaddy77

[code]

Lets say loading the comments of Post failed, by using `[Comment!]` you can throw an `Error` in the resolver for your post comments and that will be part of the response. The property comments on the Post will be `null`. But you still have the partial data for the post.

[code]

However if you use `[Comment!]!` and throw an `Error` in your post comments resolver the post will

[2018-06-08 11:01] n1ru4l opened #137 "Parser Syntax Error: implements with multiple interfaces"
This is valid syntax:
[code]

The script fails with the following command: `Syntax Error: Unexpected Name "Bar"  undefined`

Version: `graphql-schema-linter@0.1.6`

[2018-06-08 15:18] cjoudrey commented on #137
Hello @n1ru4l,

This is indeed valid syntax, but has been deprecated as of version `0.13.0` of GraphQL.js. You may use this deprecated syntax by providing the `--old-implements-syntax` option.

Alternatively, you can use the new syntax:

[code]

You can find more information about this here: https://github.com/graphql/graphql-js/pull/1169

[2018-06-08 15:18] #137 closed

[2018-06-21 21:00] landau opened #138 "Interfaces cannot end with `Connection`"
I'm trying to create an interface that specifies what a `Connection` must implement. However, the rule `relay-connection-types-spec` prevents this from happening. The following schema seems perfectly valid to me. I would prefer to rely on my schema for ensuring my `type`s that do end in `Connection` be dependent on an interface rather than a linter. Could you enable the lint the a `Connection` `in

[2018-06-22 17:34] cjoudrey commented on #138
Hey @landau! Thanks for opening the issue. 😄

Just for clarity, are you saying the `relay-connection-types-spec` rule is preventing you from defining `interface Connection` or are there more issues? Will your connection types still end in `Connection`?

The rules implemented in `relay-connection-types-spec` follow [what's written the spec](https://facebook.github.io/relay/graphql/connections.htm#s

[2018-06-23 00:17] landau commented on #138
Just the former. I can't define the interface `Connection` or `relay-connection-types-spec` complains.

Disabling the rule would work, but it seems to me that an `interface`, which is an abstract object would, should be able to define what a _type_ of `Connection` must implement. I imagine that `Relay` itself wouldn't have a problem with types implementing a `Connection`.

Thanks for your time. :)

[2018-06-24 18:16] tomasAlabes opened #139 "[Feat request] Being able to disable rules like in eslint"
Hi, first thanks for your work in this project!

I'm using the linter in a project where I don't use Relay, and I have some errors with the relay rules. And if I want to disable them I need to configure all the rules except those 2 (`relay-connection-arguments-spec` and `relay-connection-types-spec`).
I don't see a way to do this with this linter, like with eslint/tslint where you can disable rule

[2018-06-25 13:54] cjoudrey commented on #139
Hey @tomasAlabes,

Thanks for the feedback. I've always been a bit hesitant about removing `--except` functionality.

In retrospect, you're right that once we release `1.x`, we could follow semver when adding new rules.

I wouldn't mind re-adding support for a blacklist. For the time being, the `--except` option still works, it's just been deprecated.

[2018-06-25 14:03] cjoudrey commented on #138
I had never thought of having an interface called `Connection`. That's a really interesting idea.

When implementing `relay-connection-types-spec` I followed the Relay spec to the letter. That said, I wouldn't mind making an exception for `interface Connection { ... }` if it doesn't cause issues with Relay.

If you'd like to open a PR for this I'd be happy to review it.

You'll want to modify: htt

[2018-06-25 14:13] landau commented on #138
I appreciate the openness. I'll take a stab at the implementation, more than likely, tomorrow.

[2018-06-26 03:02] tomasAlabes commented on #139
Thanks @cjoudrey for your answer. I didn't know it was just deprecated, I will use it then, that works for now.
Do you have a plan to make this linter a tslint/eslint plugin?

[2018-06-26 14:03] cjoudrey commented on #139
:+1:

I opened #21 a while ago as a reminder, but I haven't taken the time to look into it yet, mostly because the current command-line suited my needs.

[2018-07-05 02:04] tomasAlabes commented on #139
@cjoudrey cool. As long as `--except` doesn't get deprecated the option works for me.
Except that you want to keep this open to remember not to deprecate the option, feel free to close this issue.

Thanks again!

[2018-07-05 10:44] renovate[bot] opened #141 "Dependency deprecation warning: babel (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v6.23.0) of dependency `babel` has the following deprecation notice:

`In 6.x, the babel package has been deprecated in favor of babel-cli. Check https://opencollective.com/babel to support the Babel maintainers`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so

[2018-07-05 10:44] renovate[bot] opened #142 "Dependency deprecation warning: babel-preset-es2015 (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v6.24.1) of dependency `babel-preset-es2015` has the following deprecation notice:

`🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update! `

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package

[2018-07-16 20:25] gajus opened #143 "Add a rule that requires that all types are sorted alphabetically"

[2018-07-16 20:26] gajus opened #144 "Add a rule that requires that all enums are defined at the top of the schema definition (before other type definitions)"

[2018-08-14 15:45] goldcaddy77 commented on #118
I'd argue that you always want to return an empty array for comments.  You can still return the partial data with an error, you'd just have `"comments": []`  The post either has comments or it doesn't.  If it has comments, you could get `[Comment1, Comment2]`, if it doesn't, you should get `[]`.  Without being this strict, your clients will always need to handle the different response structures c

[2018-08-14 15:48] goldcaddy77 commented on #118
@cjoudrey - do you know of any external rules packages that exist I could use as a template?  I'm down to write the bang bang rule.

[2018-08-14 20:37] n1ru4l commented on #118
@goldcaddy77 It depends on the use-case and preference but I personally try to reflect any occurred error in the UI.

[2018-08-14 21:29] cjoudrey commented on #118
@bwillis might have some experience with this, but unfortunately I don't. My naïve approach would be to create a new NPM package and include a `src/rules/enforced_list_nullability.js` (or name it how you wish) in it.

I would then add `graphql-schema-linter` and this new package to my project's `package.json`. You can then use the `--custom-rule-paths <paths>` to include the rules from the package

[2018-08-16 17:01] bwillis commented on #118
Haven't done it as a separate package, we include our dependencies directly in our project something like this:
[code]

This should highlight the path issue @cjoudrey is talking about. @goldcaddy77 if you do find a solution please share or want to talk in more depth about approaches, maybe a new issue would be in order.

[2018-09-01 14:26] henriklundgren opened #147 "TypeDefs in split files error"
[code]
[code]

[2018-09-01 15:41] cjoudrey commented on #147
Hi @henriklundgren!

Thanks for opening the issue. `graphql-schema-linter` should provide clearer errors for this case.

Are `file1.gql` and `file2.gql` two separate schemas or are you trying to extend the schema?

If these are two separate schemas, you should run `graphql-schema-linter` twice, once for each file.

If you are trying to extend the schema, you should be using `extend type Query` in

[2018-09-01 17:15] henriklundgren commented on #147
Hi,

I use [mergeTypes](https://github.com/okgrow/merge-graphql-schemas) to handle this case.

Thanks

[2018-09-03 09:29] henriklundgren commented on #147
@cjoudrey I am sorry if I was short in previous comment.

I have typeDefs split between several files,
I import them and merge the types with `mergeTypes(typeDefs)`.
I.e. the above becomes,
[code]
Would this be possible to fix in the linter?

[2018-09-03 16:02] cjoudrey commented on #147
@henriklundgren thanks for clarifying.

This is the first time I see this package (and this use case.)

I realize this isn't ideal, but one solution could be to write a simple script that [output's the resulting schema](https://github.com/okgrow/merge-graphql-schemas#output-the-string-of-typedefs) and you can run `graphql-schema-linter` against it.

A more complete solution could be to make `graph

[2018-09-07 11:40] forabi opened #148 "Non-null Int types for "first" argument are not accepted by rule "relay-connection-arguments-spec""
The following queries all fail lint checks:

[code]

If I remove the `!`, they all pass. Should not non-null integer types be accepted?

[2018-09-07 16:59] forabi commented on #148
Yeah, I totally forgot about backwards navigation. So can we make the rule check that at the integer type is not nullable when only one navigation direction is supported?

[2018-09-07 19:40] cjoudrey commented on #148
Exactly!

If only one pagination direction is supported, I think we should allow non-nullable integers.

[2018-09-07 19:46] cjoudrey commented on #143
Thanks for opening the issue @gajus! :smile:

I can understand why someone might want this, but I don't feel comfortable adding this to the default set of rules.

If I were you, I would start with [writing a custom rule](https://github.com/cjoudrey/graphql-schema-linter#customizing-rules) for this.

Writing this rule to support cases where the schema is divided into multiple files might be tricky

[2018-09-07 19:47] cjoudrey commented on #144
Thanks for opening this issue @gajus! 😄

My thoughts in the other issue you opened: https://github.com/cjoudrey/graphql-schema-linter/issues/143#issuecomment-419546901

[2018-09-26 19:44] langpavel opened #151 "Error: Type … must define one or more fields."
Hi. I have file which looks like this:
[code]

This is really correct GraphQL SDL. Use case is obvious.

But this file is source this error:
[code]

even if I have file which `extend type Mutation { … }` somewhere else.

Reason why I want this file is to be able to *comment on types* and to *point other developers to think differently — more modular*

[2018-10-06 15:47] chapati23 commented on #80
@patrick91 how exactly did you get it working?

i'm trying `graphql-schema-linter src/**/*.graphql` and always get:

`Error: Type "Query" was defined more than once.`

However, adding `extend`s to all my modularly defined `Query`s then breaks `graphql-import`.

Seems there's no way to make both tools happy at the moment :-/

[2018-10-31 22:13] stevenqzhang opened #154 "running with only `types-have-descriptions` rule still results in parsing errors"
Is it intentional that I still get parsing errors when I'm running with the `--rules types-have-descriptions` flag?

I.e. here's the error I get:

[code]

I would expect in this case that the linter only checks for descriptions, and does not need to know whether the schema is valid or not

[2018-11-01 22:06] cjoudrey commented on #154
Thanks for opening this issue @stevenqzhang. 😄

Is it possible that the `Person` type is defined in another `.graphql` file and when you can the linter you didn't provide it that file? Could you paste the full command you used to run the linter? That'd be super helpful. 😄

On a related note, I realize this is not the greatest error, but the linter currently uses GraphQL JS' [`buildASTSchema`](http

[2018-11-01 22:11] cjoudrey commented on #151
Thanks for opening this issue @langpavel and sorry for the radio silence.

That's really interesting. 🤔This error seems to be coming [from GraphQL.js](https://github.com/graphql/graphql-js/blob/f4dee2803c22f7e5fde913b9743cc6de345bb871/src/type/validate.js#L275-L281).

Out of curiosity, what GraphQL library do you use to serve this schema?

[2018-11-02 06:46] langpavel commented on #151
Hi, I'm using `graphql` — reference implementation to preprocess multiple GraphQL files and then using output in Apollo Server.

I'm merging all files together just by concatenation of `definitions` arrays together,
then I do some magic before using schema in Apollo — like merging extensions on AST level
without using `extendSchema` API.

That may be source of this error, because I never have empt

[2018-11-11 11:42] tusharmath opened #155 "Enable a "merge" mode"
Right now when I use this project with my code base it throws the following exception —

This is probably because I am using [merge-graphql-schemas] library to merge my `Mutation` and `Query` types that are distributed across multiple files.

[merge-graphql-schemas]: https://github.com/okgrow/merge-graphql-schemas

Can we enable a `merge` mode which can ignore `Mutation` and `Query` types being de

[2018-11-14 07:13] renepardon opened #156 "Help required to fix 'must be Input Type but got' error"
Hello,

I tried your validator and got the same errors like in this question: https://spectrum.chat/thread/9ee3d211-566d-4250-849c-2f8e4b42268c

**Error*
[code]

**To reproduce this:**

[code]

[2018-11-29 06:07] jens-peterolsson opened #157 "Invalid types generates errors"
E.g. if linting a schema with a type "string" instead of "String" in it. Should return a helpful validation error, not an unhandled js-error.

[2018-11-29 13:57] cjoudrey commented on #157
Thanks for opening this issue @jens-peterolsson.

I believe this is issue is related to #53, #154, and #136.

The root cause is that the method this library (`buildASTSchema` from `graphql-js`) uses to parse / validate / build the GraphQL schema historically did not provide the right data to make the change you are suggesting. There is an open issue in `graphql-js` to address this: https://github.

[2018-11-29 13:58] cjoudrey commented on #155
Thanks for opening the issue @tusharmath.

I don't have much context on `merge-graphql-schemas`. Can you elaborate on why people tend to use this library versus using `extend type Mutation { ... }`?

[2018-12-13 16:49] SensibleWood opened #159 "Whitespace in enum types fail validation"
Hey

Should `enum` values with containing whitespace be allowed? This is my example that fails validation:

[code]

Error is:

[code]

So it appears whitespace is treated like a linefeed. If you could clarify expected behaviour that'd be great

[2018-12-13 22:15] cjoudrey commented on #159
Hi @SensibleWood ! Thanks for opening this issue.

I don’t think enum values can have spaces in them. This isn’t really something this library enforces, but rather the GraphQL language specification.

Hope that answers your question. :smile:

[2018-12-14 05:41] SensibleWood commented on #159
Sure does! Sorry tried to research the spec itself but couldn't easily find the answer, hence the question here.

Thanks again for answering @cjoudrey!

[2018-12-14 05:41] #159 closed

[2019-01-10 23:58] nicosampler commented on #18
Hi @cjoudrey any progress in this?

[2019-01-11 17:48] cjoudrey commented on #18
Hey @nicosampler, thanks for the reminder! 😄

Now that type descriptions and comments are distinguishable, I'll take another look at implementing this using inline comments (i.e. `# lint-disable enums-are-sorted-alphabetically`) as described in https://github.com/cjoudrey/graphql-schema-linter/issues/18#issuecomment-325818349.

[2019-01-12 18:50] glenndevenish commented on #87
I just bumped into an issue with types being defined more than once:

[code]

It is defined more than once, not sure what the 'bug in graphql-schema-linter' is though

[2019-01-12 19:03] glenndevenish opened #160 "Reports bugs but nice error message"
I'm setting up a schema from an existing REST api schema, and every now and again I do something like defining something twice, or not renaming all the types to graphql scalars.

When this happens, graphql-schema-linter reports a bug, but also a nice error message explaining what is wrong.

Why is this being reported as a bug in the linter?

Examples that I have come across so far:

[code]
and
[co

[2019-01-15 03:54] cjoudrey commented on #160
Thanks for opening this issue @glenndevenish.

I agree with you, this isn't a great user experience.

Back when I originally implemented this, GraphQL.js (the library I parse the schema dump), did not provide machine-readable errors when the schema was invalid (like the example you posted above).

I took a look and now it appears like there might be a method [`validateSDL`](https://github.com/grap

[2019-01-15 16:51] cjoudrey commented on #160
I took a look and it appears like https://github.com/graphql/graphql-js/pull/1626 will fix this issue.

I need to wait until GraphQL.js gets a version bump so that we can start using this. 🤞

Thanks again for the report.

[2019-01-15 17:12] cjoudrey opened #162 "Call `validateSchema` after building the schema AST"
I was chatting with `@IvanGoncharov` and he made realize we might want to be calling [`validateSchema`](https://github.com/graphql/graphql-js/blob/37c022def5c33778382976e48bec4f2fbf4a1768/src/type/__tests__/validation-test.js#L307) after using `buildASTSchema` in order to validate non-SDL checks like: [does the schema have a root query type, is the subscription root an object](https://github.com/g

[2019-01-15 18:02] glenndevenish commented on #160
Sweet! Thanks for the quick replies.

[2019-01-16 04:16] #53 closed

[2019-01-16 04:17] cjoudrey commented on #53
Will be fixed in next release by #163.

[2019-01-16 04:17] cjoudrey commented on #70
Will be fixed in next release by #163.

[2019-01-16 04:17] #70 closed

[2019-01-16 04:17] cjoudrey commented on #154
Will be fixed in next release by #163.

[2019-01-16 04:17] #154 closed

[2019-01-16 04:17] cjoudrey commented on #157
Will be fixed in next release by #163.

[2019-01-16 04:17] #157 closed

[2019-01-16 04:17] cjoudrey commented on #160
Will be fixed in next release by #163.

[2019-01-16 04:17] #160 closed

[2019-01-16 04:17] cjoudrey commented on #162
Will be fixed in next release by #163.

[2019-01-16 04:17] #162 closed

[2019-01-16 06:01] ajaysaini-sgvu commented on #136
Thank you <3

[2019-01-21 17:20] yvele opened #165 "Unknown directive "aws_subscribe". invalid-graphql-schema"
Looks like `v0.2.0` is breaking with custom directives

I can't see in the documentation how to customize `invalid-graphql-schema` rule to enable custom directives like `@aws_subscribe` for AWS AppSync. Is there a way?

[code]

Reference: https://docs.aws.amazon.com/appsync/latest/devguide/real-time-data.html

PS: By the way thank you for you tool 👍 and I suggest you to use git tags and GitHub rel

[2019-01-21 17:41] cjoudrey commented on #165
Hi @yvele, thanks for the feedback and opening this issue. 😄

This is an interesting issue. Have you considered including a directive definition at the top of your schema or in a separate file? Something like this:

[code]

By doing this, the linter error would go away and your schema would be _complete_ which might make it easier for someone new to add a `@aws_subscribe` elsewhere.

In an ideal w

[2019-02-21 14:15] yvele commented on #165
I don't want to alter my schema just to make the linter pass.. That's not a good workaround

Why isn't possible to add custom rules?

This is breaking for me, I think I'm gonna stick with 0.1.6

[2019-02-23 01:24] satshabad-cr opened #170 "TypeError: Cannot read property '0' of undefined"
It looks like you may have hit a bug in graphql-schema-linter.

It would be super helpful if you could report this here: https://github.com/cjoudrey/graphql-schema-linter/issues/new

TypeError: Cannot read property '0' of undefined
    at /usr/local/lib/node_modules/graphql-schema-linter/lib/runner.js:76:70
    at Array.reduce (<anonymous>)
    at groupErrorsBySchemaFilePath (/usr/local/lib/node_m

[2019-02-23 18:12] cjoudrey commented on #170
Hey @satshabad-cr! Sorry you ran into this issue. Could you possible provide the schema you used and the options you used to run the linter? This would be super helpful to reproduce the bug.

[2019-02-26 02:14] satshabad-cr commented on #170
Unfortunately I can't reproduce the schema I was testing it on :/, not sure what I had to make it produce this error

[2019-02-26 05:10] cjoudrey commented on #170
No worries. I will close the issue for now. Please re-open it if you run into the issue again and can reproduce it. 😄

[2019-02-26 05:10] #170 closed

[2019-02-28 03:24] cjoudrey commented on #165
Hey @yvele, I added some more thoughts about this here: https://github.com/cjoudrey/graphql-schema-linter/pull/171#issuecomment-468121820. You might be interested.

Just to clarify, earlier I didn't mean you had to add the directive definitions to your schema, they could live in a separate file then you can use: `graphql-schema-linter aws_appsync.graphql schema.graphql`.

[2019-02-28 10:15] yvele commented on #165
To me adding an extra GraphQL file **only** for the linter is not acceptable, it complexify the global understanding of the code base.. make directive ambiguous.. To me this is only about configuring the linter, and should be an explicit linter rule, in a linter config file (or parameter, I don't know).

About https://github.com/cjoudrey/graphql-schema-linter/pull/171#issuecomment-468121820 I thin

[2019-02-28 17:23] jamesgraham commented on #165
We've also just run into this and other false-positives:

`74:14  Unknown type "AWSDateTime".        invalid-graphql-schema`

What's the current workaround?

[2019-02-28 18:17] cjoudrey commented on #165
Agreed, I kinda want to stick with `graphql-schema-linter linter/aws_appsync.graphql schema.graphql` for now and see how it plays out.

Currently the workaround would be to provide the AWS AppSync type definitions when linting your schema. These definitions can live in a separate file than your schema.

Create a file named `aws_appsync.graphql`, for example:

[code]

Then when running `graphql-sch

[2019-03-08 13:24] decrn commented on #18
I stitch schemas together using [`merge-graphql-schemas`](https://github.com/okgrow/merge-graphql-schemas)

I have defined a base `schema.graphql` file, that has a `Query`, `Mutation` and `Subscription` type. Other schemas can then extend these existing types.

I would like to exclude this `schema.graphql` file, because it specifically has a unused/undocumented resolver for each of these types.

I

[2019-03-17 06:27] jbruni opened #172 "Cannot read property '0' of undefined"
Similar to #170... but I have the "schema" I tried here.

First, the error message:

[code]

Now, the `schema.graphql` contents:

[code]

This is my very first time touching GraphQL... I'm sure there is something wrong here. :smile: But... `Cannot read property '0' of undefined` :thinking: What exactly is wrong with it?

Thanks!

[2019-03-17 06:35] jbruni commented on #172
FYI... this is a snippet of a bigger schema, which I've taken from here: https://github.com/apollographql/fullstack-tutorial/blob/master/final/server/src/schema.js

And if I try linting [the full schema](https://gist.github.com/jbruni/723e6144aa404412bd89f8d90eda6dca), `graphql-schema-linter` provides its output without breaking.

[2019-03-17 17:58] cjoudrey commented on #172
@jbruni Thanks for opening the issue and providing a schema to reproduce the issue. :smile:

[code]

The problem with the schema you pasted above is that there is missing a `Query` type or a `schema` definition.

For example:

[code]

I'll take a look at fixing this issue in the linter as it shouldn't be crashing.

[2019-03-19 13:03] clovislima commented on #172
Hi mr @jbruni :)
I've ran in the same problem, and after a little debugging it seems that there are some errors that have no locations in them, so this will break at any part of the code that have `locations[0]`.
I was thinking at least 2 possibilities to handle this:
1. Always test for `locations ? locations[0] : location` and if its undefined it will not be printed

2. Normalized it to another p

[2019-03-19 15:34] cjoudrey commented on #172
I believe you are correct @clovislima. :smile:

Most errors should have a `location`, but there are some exceptional cases where a `location` won't be present for example:

https://github.com/graphql/graphql-js/blob/c83412f19e88fda4815a26340127d938fd4f3b2f/src/type/validate.js#L117-L121

If you omit `schema { .. }` and `type Query`, then `schema.astNode` will be `undefined`.

In this case, I belie

[2019-04-10 01:30] aldeed commented on #151
I'm seeing the same thing with `union Blah` where this union is extended in other files. Apollo Server does not complain about this and it works fine using the same version of the `graphql` package.

This package uses `validateSDL`, which is marked as an internal function in the `graphql` package. It seems that the behavior is difference using `validateSDL` directly rather than `validate`.

[2019-04-29 12:52] morris commented on #18
I'm using directives for this right now, but it naturally only works in my custom rules. For example, we have a rule that says list items should not be null, and can be overriden like this:

[code]

I use this simple helper in my custom rules:

[code]

What do you think?

[2019-04-29 12:57] nicosampler commented on #18
Hi @morris, how it will work if you need to disable an entire block?

[2019-04-29 13:53] morris commented on #18
Actually, I just figured out a way to do it generally. Use this custom rule (must be the first rule in the ruleset):

[code]

Then add the lint directive to your schema:

[code]

@nicosampler this method makes nodes in the AST inherit the disabled/enabled rules from the parent, however since there's no namespace or other "grouping" node in GraphQL ASTs, this will only work for types. For example:

[2019-04-29 14:21] morris commented on #18
@cjoudrey if you think this is a viable approach i'd be happy to provide a PR (or if you just adopt the method, naturally).

[2019-04-29 16:40] decrn commented on #18
@morris I like your approach but feel like directives would clog up the schema too much, especially when combining them with other directives (that do have an inherent impact on the schema definition)

It is the most unique solution out of all the ones suggested here though

[2019-04-29 17:42] morris commented on #18
Thanks @decrn, I understand your point :) Haven't seen a schema yet where directives are used excessively, though. Also disabling linter rules should be the exception rather than the rule. I feel both should be at most like 3% of AST nodes, especially because the only built-in directive (for schemas) is `@deprecated`. Additionally, `@deprecated` does not have real impact besides documentation (in

[2019-04-30 09:26] lxsli opened #177 "Failed to parse schema without `schema`"
[code]

Adding this fixed it:

[code]

[2019-04-30 09:27] lxsli commented on #177
Oops, dup #172

[2019-05-02 01:15] cjoudrey commented on #18
I hadn't considered that solution @morris. Thanks for sharing!

I kinda agree with @decrn. My big concern is that I feel like we'd be mixing two concerns.

While the GraphQL spec only defines `@deprecated`, there are a bunch of other directives that are made possible by 3rd party libraries (eg. authorization/permissions, validation) or even different GraphQL server providers (think AWS AppSync and

[2019-05-15 15:18] morris commented on #18
In the meantime, we've published our rules, including the lint-directive, here: https://github.com/mobilcom-debitel/graphql-schema-linter-extras - maybe its helpful to tinker around with it to see it in action. We'll happily switch to a built-in method, as soon as there is one :)

[2019-05-16 15:41] damonmiller commented on #18
I have another use case for wanting to disable certain linter rules in some cases.  We have a schema which was defined some time ago and did not follow best practices like using all uppercase for ENUM values.  Since implementing this linter, we have added all uppercase values and marked the older non-uppercase values as deprecated, however, the old values still fail the linter.  These must remain

[2019-05-30 10:32] benoitDD opened #179 "Unknown type "Upload""
Hello, I use Apollo server and when I lint below

[code]

I have got this error
[code]

Apollo add automatilly the type Upload.

Can I bypass the rule `invalid-graphql-schema` only for the type Upload ?

[2019-06-23 08:32] jizhang27 opened #180 "Not handling exception if Invalid custom-rule-paths is provided"
Hi, spotted an issue related to option validation.

### Issue
If a directory (`A/B/`) is provided in --custom-rule-paths, `Error: Cannot find module` (due to [this line](https://github.com/cjoudrey/graphql-schema-linter/blob/v0.2.0/src/configuration.js#L131)) is not caught. Process exits with 3.

### Expected
Process should exit with 2.

[2019-07-11 17:25] glambert opened #182 "Running linter on template literals (gql`...`) instead of .graphql files"
Hi! 👋

First, great library! I was wondering, what would be the effort required in order to have this run on `gql` template literals instead of `.graphql` files? We use Apollo Server and would look to run this linter on our schemas (we use `import { gql } from 'apollo-server-core';` to define them in `.js` files).

We would be happy to contribute if this is feasible.

Thanks!

[2019-07-12 11:41] #180 closed

[2019-07-12 12:21] cjoudrey commented on #182
Hi Guillaume!

I've never used `apollo-server-core`, but I'd happily welcome contributions that add support for it.

As a workaround, you can output a static `.graphql` file that you provide to `graphql-schema-linter`. While this will allow you to validate the schema, the error reporting won't be ideal as it will reference lines in the `.graphql` file instead of your `.js` files.

The tricky thing

[2019-07-12 14:04] glambert commented on #182
Thanks for the very quick reply!

In the end we'll probably look into https://github.com/prisma/graphql-import instead and rename our type definitions to `.graphql` which will also allow other languages to consume instead of only JavaScript/TypeScript.

[2019-07-22 22:03] hellogerard commented on #18
This is a bit of a deal breaker for me. We have a legacy schema in place. Running the linter against it generates errors. I can't fix these errors without breaking backwards compatibility. I can disable the rules, but we have so many errors, I end up disabling nearly every rule. If I had this feature, I could disable the existing errors, and keep a tidy schema going forward.

[2019-07-31 23:53] pelhage commented on #143
I'm currently trying to write a custom rule but ran into some issues. @gajus did you end up attempting this?

[2019-08-01 07:08] gajus commented on #143
No, ended up building an adhoc tool at the time to do this using AST.

[2019-08-06 14:32] cjoudrey commented on #143
@pelhage what issues did you run into?

[2019-08-12 21:41] pelhage commented on #143
@cjoudrey I'm unable to test my custom rules in my project

I have a directory structure like:

[code]

And I'm trying to run linting via an npm script

[code]

even `rules/*.js` didn't work for `--custom-rule-paths`

I tried throwing an error from within my custom rule, but I'm not seeing any output. I'm just a bit unsure what I'm missing here to be able to successfully run custom rules

[2019-08-13 02:40] cjoudrey commented on #143
That's really strange @pelhage. Do you mind sharing the contents of `types_are_capitalized.js` so that I can try it out?

So long as `types_are_capitalized.js` exports a function, it should get called. There are some dummy custom rules in the [`test/fixtures`](https://github.com/cjoudrey/graphql-schema-linter/tree/master/test/fixtures/custom_rules) folder.

[2019-09-26 08:58] yvele commented on #165
Thanks @cjoudrey for the suggestion, it's working nicely and it's clean 👍

[2019-09-26 08:58] #165 closed

[2019-10-25 18:28] jregistr opened #187 "Add ability to specify exceptions to rules"
In short, I'm wondering if we'd be open to adding a way to specify lint ignore options per field/type.

As an example, say we had a rule
**Type-Name-Longer-Than-1-Char**

[code]

We could achieve this via config options. But then it would not be immediately obvious when looking at the schema which ones are given exceptions to the rule.

Has anyone else thought about this? Perhaps we can collect id

[2019-10-26 02:35] cjoudrey commented on #187
Hey @jregistr! Thanks for opening this issue.

I believe this is quite similar to what was discussed here: https://github.com/cjoudrey/graphql-schema-linter/issues/18

[2019-10-29 20:26] gajus commented on #143
For what it is worth, I have implemented this requirement in https://github.com/gajus/format-graphql.

[2019-10-30 11:53] allexysleeps opened #188 "Cannot read property 0 on undefined :)"
Hi, guys, I'm getting the following classic error :)

`TypeError: Cannot read property '0' of undefined`

Error is happening here:
[code]

Here is the error that falls

[code]

[2019-10-30 13:14] cjoudrey commented on #188
Thanks for the bug report, I'll take a look shortly.

What version are you running?

Also, could you share your `.graphql` schema so that I can reproduce the bug?

Thanks! 😃

[2019-10-31 02:00] cjoudrey commented on #188
I'll take a look at fixing the bug, it shouldn't be _crashing_ on you. 😄

That said, the error that it is returning (and will continue to return after the bug is fixed) is normal.

`graphql-schema-linter` expects to be passed a valid GraphQL schema.

The schema you pasted above isn't technically valid [according to the spec](https://graphql.github.io/graphql-spec/June2018/#sec-Root-Operation-Types

[2019-11-01 00:46] cjoudrey commented on #177
Thanks for the report @lxsli. Closing because it is a dupe of #172 as you mentioned.

[2019-11-01 00:46] #177 closed

[2019-11-01 00:47] cjoudrey commented on #188
I just realized this is a dupe of #172. I'm going to close this one for now. Thanks for the reminder though.

[2019-11-01 00:47] #188 closed

[2019-11-01 01:50] cjoudrey commented on #188
Fixed: https://github.com/cjoudrey/graphql-schema-linter/pull/189 😄

[2019-11-06 04:43] Jakenberg opened #192 "Thank you"
Have quite the opposite of an issue, thank you for building this. Can't believe graphql has no ability to debug schema files by default (even with verbose!). Anyway, you rule 💯

[2019-11-06 04:43] #192 closed

[2019-11-11 12:33] jregistr commented on #187
Ah, this has been asked before. I'm closing this issue then and watching that other discussion.

[2019-11-11 12:33] #187 closed

[2019-11-11 15:55] jregistr opened #195 "Self contained executable"
Hello!
I'm interested in using this linter as a self-contained executable. The idea is that everyone is using the exact same version, and for people to not be required to have installed node and global installed this linter.

I've kind of managed to get this working using pkg: https://www.npmjs.com/package/pkg

Albeit, a bit hacky (I'll include some details in a follow-up comment).

Is there any i

[2019-11-11 15:57] jregistr commented on #195
The hack I mentioned involved adding an index.js to the rules dir exporting all the rules in an array and importing them in the configuration.js. This was the only way I got pkg to include them.
[code]
[code]

[2019-11-12 01:32] cjoudrey commented on #195
Hey @jregistr that's super interesting! 😄 I haven't put much thought in a self-contained executable for `graphql-schema-linter`. I can see the appeal though.

I never used [`pkg`](https://www.npmjs.com/package/pkg) before, but I suspect the reason you had to do that hack is because the built in rules [are dynamically loaded](https://github.com/cjoudrey/graphql-schema-linter/blob/db3f5bfc9d355d5ecb

[2019-11-12 19:51] jregistr commented on #195
Yeah, that's the idea I had in mind. However, if no one else needs this, I think your PR https://github.com/cjoudrey/graphql-schema-linter/commit/5e787cd127f770854da948e62293c92e5a01a9f6 and perhaps documentation for how someone interested can package the linter would suffice.

And speaking of custom tests! I gave a quick run with the custom rule **LintDirective** from https://github.com/mobilcom-

[2019-11-12 19:53] jregistr commented on #195
Btw, is the repo here: https://github.com/mobilcom-debitel/graphql-schema-linter-extras
an example of the recommended method for developing custom rules?
It's another npm project which references this one as a peer dependency.

[2019-12-10 21:28] gagoar opened #201 "graphql-schema-linter fails when called upon lint-staged hook"
`graphql-schema-linter` requires the entire schema to properly lint.

in the other hand `lint-staged` passes the file/s that has changed as an argument making the graphql-schema-linter cli use that input as the schema and ignoring the configuration pulled from cosmic.

For now we have opted for creating a script wrapping the cli that passes again the schema glob to avoid the duplicated configurati

[2019-12-10 21:44] gagoar opened #202 "AST directly to validateSchema instead of a string"
Hi! I've been writing a graphql-schema-linter extension for vscode and so far works with the latest changes in configuration, one nice feature I've been needing in order to speed up the extension and do more interesting things with it, is to be able to create my own AST (and merge the incoming changes instead of reparse the entire schema) is to use `validateSchema` and pass the AST instead of the

[2019-12-12 15:13] cjoudrey commented on #201
Hey @gagoar! Thanks for opening this issue.

The initial version of `graphql-schema-linter` was built on the assumption that people had a single `.graphql` file. Later on, I added support for schemas that were defined amongst many files and probably forgot to update the `lint-staged` example in the `README.md`.

I don't personally use `lint-staged`, but I took a look at their `README.md` and found

[2019-12-12 15:20] cjoudrey commented on #202
That sounds awesome! 🎉

At the moment, [`validateSchemaDefinition`](https://github.com/cjoudrey/graphql-schema-linter/blob/25fb8cdb8dc4cf3491445db2adb55472c96bbc83/src/validator.js#L9) accepts `schemaDefinition` which is a string.

I wouldn't mind if you split that function into two. Something along the lines of:

[code]

Would that solve your issue?

[2019-12-12 17:07] gagoar commented on #202
yea, that was pretty much what I was going for :)

I will work on this during the weekend.

my idea is to get closer to have something where I can play with the AST. Furthermore, part of my hopes with the extension is to have a language server that will be useful for every editor, not only for vscode.

I will soon share the PR.

[2019-12-12 17:13] gagoar commented on #201
yea the issue here is that we try to avoid logic on configuration when possible. and this option it will move all the configuration to JS, just to bypass the filename.

this error happens when lint-staged calls the script directly. I can share with you a mini repo with the issue so you can see it.

it's not the shell, is how yarn/npm takes the extra arguments coming. I will try today to share the

[2020-01-02 21:57] berenddeboer opened #204 "Crash (stack dump) upon: Error: Type "AWSDateTime" not found in document."
When trying out this module it correctly reports about a type I haven't defined, but then seems to crash??

[code]

So in case if anyone is interested in this report.

[2020-01-15 11:28] allexysleeps commented on #188
Hi, @cjoudrey.
Sorry, I forgot to answer.

Thank you for the fix.

[2020-01-21 02:21] cjoudrey commented on #64
Closing due to inactivity. Feel free to re-open if you get around testing #75 which implements this.

[2020-01-21 02:21] #64 closed

[2020-01-29 01:04] cjoudrey commented on #204
@berenddeboer what version of `graphql-schema-linter` are you experiencing this issue with?

I'm asking because I can't reproduce this.

[code]

[2020-01-29 01:35] berenddeboer commented on #204
0.2.3. With simple schemes I can't repeat it either. But I can with the attached scheme:

[code]

See attached file:
[graphql.txt](https://github.com/cjoudrey/graphql-schema-linter/files/4125733/graphql.txt)

[2020-01-29 01:37] berenddeboer commented on #204
Just tried 0.2.4, same crash.

[2020-01-29 02:04] cjoudrey commented on #204
Thanks!

That full schema should help with debugging the issue.

In the meantime, here's a workaround for a similar issue:
https://github.com/cjoudrey/graphql-schema-linter/issues/165#issuecomment-468379498

[2020-02-04 16:53] scherroman commented on #120
This allows developers to create fields like estimatedDoneBY, estimatedDONEBy, and estimatedDONEBY, which is unfortunate and some of the ugliness I intended to prevent. If uppercasing is needed, perhaps there could be separate rules to lint for strict camelCase versus camelUPPERCASE?

In our conventions strict camel case should always be used, even for fields like id, userId and postUrl. This prov

[2020-02-04 17:01] gracenoah commented on #120
In Go, the convention is to keep abbreviations capitalized and that's what we've been using for graphql as well. I'm ok with a new optional stricter rule, of course.

[2020-02-27 17:02] danielferragut opened #210 "Add support for Apollo Federation directives"
Hello!

I have taken an interest in using this library in one of my projects which uses [Apollo Federation](https://www.apollographql.com/docs/apollo-server/federation/introduction/) as its architecture for handling micro services. When using simple schemas, and linting from the root where it is possible to reach all services, this library works splendidly.

Problems start to arise, however, when

[2020-02-28 02:55] cjoudrey commented on #210
Hey Daniel,

First, I'd like to thank you for such a well written issue. I really appreciate the time you took to write it. 😄

Yeah, that's the strategy I've recommended when it came up in the past. (i.e. https://github.com/cjoudrey/graphql-schema-linter/issues/165#issuecomment-468379498)

Luckily the docs for Apollo Federation make this a tad easier as they provide the definitions here: https://w

[2020-02-28 13:07] danielferragut commented on #210
Thanks for the quick and detailed answer Christian!

I completely understand, if this library were to support every GraphQL framework that appears, it would become quite a hassle to maintain the code.

From were I stand, using the script solution might be more viable as it is the quick and dirty way to solve this problem :sweat_smile:. I am going to take a look at the source code for this lib and

[2020-02-29 00:54] cjoudrey commented on #204
Sorry for the delay. Just circling back to this issue.

I ran the linter against `graphql.txt` and it worked fine. 🤔

[code]

I couldn't help but notice `node_modules/...` in the command you pasted. Do you happen to have `graphql-js` in `node_modules/...` as well? It makes me wonder if maybe the problem is caused by a newer version of GraphQL.js which I haven't tested.

[2020-02-29 00:55] cjoudrey commented on #195
Sorry for the delayed response. That's the first time I see that repository. You can find some other examples here: https://github.com/cjoudrey/graphql-schema-linter/tree/master/src/rules

[2020-02-29 00:56] cjoudrey commented on #195
I'm going to close this issue for now as I don't have plans on making binaries available. If there is more interest, happy to re-open it later. Thanks!

[2020-02-29 00:56] #195 closed

[2020-02-29 00:58] cjoudrey commented on #179
Sorry for the delayed response.

This is similar to other issues I've seen with AWS. Here's my stance on that: https://github.com/cjoudrey/graphql-schema-linter/issues/165#issuecomment-468379498. The tl;dr; is to create a `.graphql` file with type definitions (i.e. `type Upload { ... }`) and pass it to `graphql-schema-linter` when validating your schema. Ideally, this `.graphql` file could be prov

[2020-02-29 00:58] #179 closed

[2020-02-29 01:00] cjoudrey commented on #155
Going to close this for now because there is no activity. Feel free to re-open if this is still an issue.

[2020-02-29 01:00] #155 closed

[2020-02-29 01:00] cjoudrey commented on #1
Not sure how relevant this is anymore. Going to close. Feel free to comment/re-open if this is something you care about.

[2020-02-29 01:00] #1 closed

[2020-02-29 01:01] cjoudrey commented on #9
Not sure how relevant this is anymore. Going to close. Feel free to comment/re-open if this is something you care about.

[2020-02-29 01:01] #9 closed

[2020-02-29 01:01] cjoudrey commented on #10
Not sure how relevant this is anymore. Going to close. Feel free to comment/re-open if this is something you care about.

[2020-02-29 01:01] #10 closed

[2020-02-29 01:04] cjoudrey commented on #117
Going to close this issue because it's been inactive for quite some time. Feel free to comment/re-open if this is something you care about.

[2020-02-29 01:04] #117 closed

[2020-02-29 01:05] cjoudrey commented on #22
Going to close this issue because it's been inactive for quite some time. Feel free to comment/re-open if this is something you care about.

[2020-02-29 01:05] #22 closed

[2020-02-29 01:06] cjoudrey commented on #143
Going to close this issue because it's been inactive for quite some time. Feel free to comment/re-open if this is something you care about.

[2020-02-29 01:06] #143 closed

[2020-02-29 01:07] cjoudrey commented on #182
Going to close this issue because it's been inactive for quite some time. Feel free to comment/re-open if this is something you care about.

[2020-02-29 01:07] #182 closed

[2020-02-29 18:45] glambert commented on #182
FYI what we did in the end was generate a static schema `.graphql` file from our Apollo Server's type definitions and run linting on this 👍

[2020-03-08 09:35] jlwt90 commented on #23
@cjoudrey Hello, do you still want this feature? I think it might be helpful for us too :P

[2020-03-09 16:22] cjoudrey commented on #23
Hi @jlwt90! 😄I still think this would be helpful. I'm not actively working on it though. PRs are welcome.

[2020-03-10 13:31] arminrosu opened #211 "Error when piping async output to --stdin"
Hello,

Thanks for a very useful package. I stumbled upon a weird error when piping a schema from an async node script. I suspect the issue originates with [getSchemaFromFileDescriptor](https://github.com/cjoudrey/graphql-schema-linter/blob/5e9dc6a19bee6bdb064b9d1614486da45e61ea62/src/configuration.js#L245).

I have _no prior experience with `stdin`_, but, outside of keeping your code synchronous,

[2020-03-10 20:51] scherroman opened #212 "Custom rules are not working"
I'm trying to write my own custom rule to enforce that field names are strictly camel cased, with no successive uppercase allowed, so a field named `pathName` would be allowed, but `pathNAME` would throw an error.

However, when I run graphql-schema-linter with the custom rule passed in via `--custom-rule-paths`, it always succeeds regardless of whether the rule is violated in my graphql. It doesn

[2020-03-12 00:05] cjoudrey commented on #211
Hey @arminrosu,

Thanks for opening this issue.

To be honest, I don't have any prior experience with stdin in JS. The reasoning was definitely to keep the code synchronous, but really, it doesn't necessarily have to be if we can leverage `await`. I didn't realize using `fs.readSync` on `process.stdin` could break in certain cases.

I'd be happy to accept a pull request that fixes this.

Thanks fo

[2020-03-12 00:11] cjoudrey commented on #212
Hey @scherroman,

I did some quick testing and it seems like the problem is that you're missing `--rules FieldsAreStrictlyCamelCased` when calling `graphql-schema-linter`.

It feels a bit weird because you'd have to specify the list of all rules you'd want to enable (including default rules provided by the library).

I forget if this was intentional or if it's a bug.

In other words, I wonder if t

[2020-03-12 20:06] scherroman commented on #212
@cjoudrey thank you! It works perfectly once I specify to use `FieldsAreStrictlyCamelCased` in my rules. I already specify the exact rules i want to use in my package.json, so it's no issue now that I understand how it works.

Based on the custom rules documentation in the readme, I was expecting the custom rules picked up by `--custom-rule-paths` to be included automatically as rules, but I see n

[2020-03-12 20:06] #212 closed

[2020-03-12 22:52] cjoudrey commented on #212
I think this should be the default behaviour. This is likely a bug caused by a missing test. 😄 I'll look into fixing it.

That was also the intended behaviour.

Sorry that you hit these two bugs. My guess is that these two features aren't widely used which is this is just surfacing now.

I'll investigate both of these behaviours to see what's going on.

[2020-03-12 23:22] cjoudrey commented on #212
re: `schemaPaths`, it seems to be working for me locally:

[code]

[2020-03-13 15:08] arminrosu commented on #211
@cjoudrey sure, I can have a go at it.

If I understood the code well, rules also use `configuration.getSchema()`. So that method needs to remain `sync`, so as to not break 3rd party rules.

Then I would suggest to initialize `Configuration` with a schema string, instead of `stdinfd` and `schemaPaths`. That would mean extracting `getSchemaFromFile`, `getSchemaFromFileDescriptor` and `getSchemaSegm

[2020-03-15 05:34] csilvers commented on #210
FWIW we also need to lint schemas with federation.  Our approach is to just lint one schema file at a time, rather than the whole schema together.  So far that has worked fine, and gotten around the problem with `@external`.

The only workarounds we need to do are to add the definitions of the directives, as already mentioned, and to add a fake Query node if a file doesn't have one.  So we need a

[2020-03-15 14:41] cjoudrey commented on #211
Hey @arminrosu,

I hadn't even considered the fact that `configuration.getSchema()` might be used by rules, but you're absolutely right.

I don't have a lot of opinions on the implementation. What you're describing sounds good to me. 😄

[2020-03-16 22:57] scherroman commented on #212
That's strange, for me both `graphql-schema-linter 'source/**/*.graphql'` and `graphql-schema-linter 'source/graphql/models/color/color.graphql'` work from the command line, but running just `graphql-schema-linter` with any of the 3 configuration file types and `schemaPaths` results in `No valid schema input.` Both `rules` and `customRulePaths` work from the configuration files however. Changing t

[2020-03-16 23:02] scherroman commented on #212
Damn, support for `schemaPaths` in package.json was added in [v0.2.3](https://github.com/cjoudrey/graphql-schema-linter/releases/tag/v0.2.3) and I was working out of [v0.2.1](https://github.com/cjoudrey/graphql-schema-linter/releases/tag/v0.2.1)! I updated to the most recent version and there's no more issues here.

Thanks for the help @cjoudrey

[2020-03-16 23:45] cjoudrey commented on #212
😂 Yay! 🎉 Happy that there is no weird bug happening on your machine.

[2020-03-24 21:12] csilvers commented on #210
(I take it back, it hasn't been working cleanly for us at all.  The problem is when a schema file references types defined in some other schema file.)

[2020-03-26 14:44] dnerdy commented on #211
I've run into this issue as well. It sounds like @arminrosu has a good plan. Please let me know if you need additional assistance. I'm going to put some simple retry logic in place locally until the long term solution is ready.

[2020-03-26 22:18] aldeed opened #216 "Possible additional rules"
There are some rules we've created that I think would be generally useful to others. Would you accept a PR that adds these?

- `arguments-have-descriptions`: Every argument must have a description
- `descriptions-are-capitalized`: All description text must start with a capital letter
- `input-object-fields-sorted-alphabetically`: Fields of an `input` must be listed alphabetically
- `type-fields-so

[2020-03-26 22:29] aldeed opened #217 "Add ability to share configs"
Have you thought about supporting something like [ESLint shareable config](https://eslint.org/docs/developer-guide/shareable-configs)?

[code]

Rules from `extends` package would be implied, and `customRulePaths` in the config package would need to be relative to that package directory.

If this is something you would merge, I can look into making a PR.

[2020-03-27 16:03] cjoudrey commented on #216
Hey Eric,

Thanks for opening the issue. 😄 I'm super happy that you wrote custom rules and are now considering upstreaming them. 🎉

:+1: I'm surprised this one didn't already exist. I must have forgotten.

:+1:, but with a small subtly. Descriptions are defined using Markdown syntax as per the GraphQL spec. Although most people probably just use plain text, I wouldn't want the linter to start comp

[2020-03-27 16:05] cjoudrey commented on #217
Hey Eric!

Thanks for opening this issue. 🎉 This is actually the first time I read about ESLint shareable config.

I'm not against adding this, but out of curiosity, how would this change your current workflow? What would become easier with this feature?

[2020-03-27 16:31] aldeed commented on #216
@cjoudrey We write by hand and people manually add fields in the correct place. It was annoying to fix when we first added the rule but adding new ones in the correct place hasn't really been a problem for people. It makes it a lot easier to skim and see whether a field exists, plus not all client schema docs alphabetize them automatically so it makes the docs more readable, too. (like GraphiQL, P

[2020-03-27 16:41] aldeed commented on #217
@cjoudrey This is related to the other issue I submitted: https://github.com/cjoudrey/graphql-schema-linter/issues/216

We are breaking up the API into various plugins and microservices, each of which will live in its own repository. So we need identical GraphQL linter checks in every project, and because we have custom rules, that means that custom rules folder also needs to be copied into every

[2020-03-29 00:27] guiaramos opened #218 "There can be only one type named "Mutation" invalid-graphql-schema"
Is it possible to allow multiple Mutation?

[2020-03-29 17:01] cjoudrey commented on #216
I think what you did is good enough. 😄I don't think it's worth making it properly support markdown for now.

Absolutely agree! Let's add it.

[2020-03-29 17:02] cjoudrey commented on #217
That's a really interesting idea. I like it. :+1: I'd be happy to accept this feature if you're interested in contributing it. 😄

Out of curiosity, what do you do?

[2020-03-29 17:03] cjoudrey commented on #218
Hi @guiaramos, I'm not sure I fully understand what you're asking. Can you share a snippet that is causing this validation error?

[2020-03-29 17:14] aldeed commented on #217
@cjoudrey We have a custom type `ConnectionLimitInt` rather than `Int` for `first` and `last`.

https://github.com/reactioncommerce/reaction/blob/trunk/src/core/graphql/resolvers/ConnectionLimitInt.js

This was done for performance reasons to help enforce maximum results on every query without developers needing to remember, but in hindsight it probably wasn't a good idea. We're stuck with it unti

[2020-03-30 21:50] aldeed commented on #216
@cjoudrey PR is here: https://github.com/cjoudrey/graphql-schema-linter/pull/219

[2020-04-04 15:39] #216 closed

[2020-04-13 19:32] dnerdy commented on #211
We've seen an uptick in this issue recently, so I've gone ahead and created a PR.

[2020-04-14 21:49] #211 closed

[2020-04-14 21:57] cjoudrey commented on #211
Should be fixed in `v0.2.6`. Thanks again @dnerdy.

[2020-04-19 19:07] cjoudrey commented on #218
Feel free to re-open this if it is still an issue.

[2020-04-19 19:07] #218 closed

[2020-05-04 03:23] mshwery commented on #201
How feasible would it be to load a single file's AST in a multi-file schema to lint individual files passed into the linter?

[2020-05-04 03:28] mshwery commented on #210
Wonder if the closest we could get it by loading the entire schema AST... then only validating the parts of the AST that a given file define?

[2020-05-04 03:34] mshwery commented on #147
I would say anecdotally that multi-file graphql schemas being merged are quite common.

[2020-05-04 03:59] mshwery commented on #18
Hey @cjoudrey ! Chiming in that I agree with your concerns about the directives approach, albeit a very interesting idea. I would love to see your idea of the comments take shape to ignore parts of the schema.

If there are major blockers to that, the overrides format would work in a pinch! Did you have a branch started somewhere I could help push along?

[2020-05-04 12:12] adamovittorio opened #228 "Add support for graphql@15.0.0"
Updating peerDependency at graphql@15.0.0, cause this error:

[code]

Link to renovate pr: #222

[2020-05-04 12:22] danielferragut commented on #210
I haven't had chance to take a really good look at it, but [GraphQL Code Generator](https://github.com/dotansimha/graphql-code-generator) is a tool that generates Typescript types from GraphQL schemas and they have support for Apollo Federation schemas [(this line for example shows how they deal with Apollo Federation schemas )](https://github.com/dotansimha/graphql-code-generator/blob/945ba9dd1e3

[2020-05-04 21:19] cjoudrey commented on #228
Hey @adamovittorio, thanks for opening the issue.

I actually started looking into bumping `graphql` to `15.0.0` in this branch: https://github.com/cjoudrey/graphql-schema-linter/compare/bump-graphqljs-15

I think I was mostly done, but never got around merging it. I'll take a look later this week.

[2020-05-04 21:43] cjoudrey commented on #201
Hey @mshwery! 😄

It really depends on what inputs you have.

If you're asking, is there a way to pass a partial GraphQL schema to the linter, that might be tricky because of this:

https://github.com/cjoudrey/graphql-schema-linter/blob/4b9566fc5435c2d6967fb2740e87c24714d0c115/src/validator.js#L33-L44

It's also made other things tricky in the past (like supporting custom directives provided by var

[2020-05-04 22:26] adamovittorio commented on #228
Hi @cjoudrey, Thank you for your work! 🙏🏻
Let me know if I can help.

[2020-05-05 01:00] cjoudrey commented on #228
I just published `v0.3.0` with GraphQL v15 support. 😄 Cheers!

[2020-05-05 01:03] #228 closed

[2020-05-05 02:01] mshwery commented on #201
There are two main uses cases I'm thinking of (1 relevant to this issue):
1. During local dev, using `lint-staged` to only validate the graphql files being modified
2. Being able to ignore some legacy schema files that are too difficult to support all of the linting rules (or even disable rules on fields/types within a file).

[2020-05-05 11:32] cjoudrey commented on #201
Thanks for the feedback @mshwery.

I think this is do-able with the tool today by filtering through the output, but it's definitely not a great solution.

I'm open to suggestions / PRs for a more appropriate solution.

Just thinking out loud here.

The tool today assumes it is given a complete GraphQL schema. If it didn't need the complete GraphQL schema, we could just pass it a partial file and l

[2020-05-05 12:01] cjoudrey commented on #18
@mshwery thanks for the feedback.

As I mentioned in https://github.com/cjoudrey/graphql-schema-linter/issues/18#issuecomment-488528184, I'm not really fond of the directive approach for the reasons outlined in that comment.

I'm open to PRs that would accept inline configurations via comments a-la ESLint.

As a starting point, we could add a way to disable/enable certain rules via:

[code]

For m

[2020-05-08 19:58] moberegger opened #231 "Does not support interfaces implementing other interfaces"
The latest version of the spec allows you to have an [interface extend another interface](https://spec.graphql.org/draft/#sec-Interfaces.Interfaces-Implementing-Interfaces). This feature was [also added](https://github.com/graphql/graphql-js/pull/2084) to [version 15 of `graphql`](https://github.com/graphql/graphql-js/releases/tag/v15.0.0).

The example provided in the spec would allow you to do s

[2020-05-08 20:39] cjoudrey commented on #231
Hey @moberegger! Thanks for opening this issue. 😄

Out of curiosity, what version of `graphql-schema-linter` are you using?

I'm asking because this _should_ be supported by `> v0.3.0`.

[2020-05-08 20:55] moberegger commented on #231
Hmmm... I made sure to upgrade to the latest version (0.4.0), but maybe I goofed. I can follow up with you next week if you don't mind waiting a bit.

[2020-05-08 21:38] cjoudrey commented on #231
No worries at all!

[2020-05-11 13:56] moberegger commented on #231
So the project I am seeing this happen in is definitely using version 0.4.0.
[code]
I tried making a smaller repo to show the issue, but can't actually reproduce it. No idea what's going on. Only differences that are obvious to me:
- The project it doesn't work in has a config file with some rules disabled (nothing that looks like it would disable an "interfaces can extend other interfaces" rule,

[2020-05-12 10:23] engiwip commented on #231
same issue like @moberegger , need to downgrade

e.g
  type Tag implements Node , Deletable ==> error

  type Tag implements Node &  Deletable ==> ok !

downgrade graphql 15->   "graphql": "^14.6.0",
                                          "graphql-schema-linter": "^0.4.0",

[2020-05-12 13:49] moberegger commented on #231
@engiwip We're having different issues. I have no issues linting something like `type Tag implements Node & Deletable`, just having issues with `interface Resource implements Node`. The former works for me on `graphql@15` and `graphql-schema-linter@0.4`.

I am not confident my problem is an issue with this project. I have been trying to isolate it but haven't been able to reproduce it outside of m

[2020-05-12 15:57] reskin89 opened #232 "Option to Disable Specific Default Rules"
Currently there is no option to disable certain rules, only to add specific custom rules or use specific rules.  There are a great deal of rules included by default (which is great!) but sometimes some of them would be nice to have off for a short period of time, just to more easily isolate others.

i.e. I was running a test where my schema has no relay in it by default, and I merely wanted to *ex

[2020-05-12 16:08] reskin89 opened #233 "Fields beginning with a single Underscore are not linted properly"
Currently, if a field begins with a **single** underscore, no matter how it is written, the linter does not think it is camel cased:

[code]

after removing the underscore the error disappears.

Per the graphql specification, the only issue with underscores is if there are **two** underscores prefixing a field:

Per the spec, the only mention of underscores are the idea that `somevar` and `some_va

[2020-05-12 21:47] cjoudrey commented on #232
Thanks for opening this issue @reskin89.

The `--except ...` option was meant to solve this problem. A while back, I had marked it as deprecated, but I'm thinking it might make sense to keep it for just this reason.

Alternatively, you can use the `--rules ...` option, but it comes with the downside of needing to specify all the rules you want to enable except for the one you want to disable. It f

[2020-05-12 21:49] cjoudrey commented on #233
Thanks for opening this issue @reskin89! 😄

That's an interesting one. Out of curiosity, in your case, what's the meaning behind prefixing fields with a `_`?

[2020-05-12 21:52] cjoudrey commented on #231
@engiwip you should be able to use the `--old-implements-syntax` option to support the old `implements` syntax. If that doesn't work, feel free to open a new issue. This isn't the same issue as @moberegger is describing.

The only thing I can think of is a dependency issue happening in your project that would cause you to be running an older version of `graphql-schema-linter` or an older version o

[2020-05-12 22:00] reskin89 commented on #233
Ultimately in my situation is for ordering purposes. Generally fields that begin with underscores come in at the top of the alphabetical order, so a few fields I deemed to be most important and wanted them to appear at the top of the schema, as well as the first in a full JSON object on return of an API call.

[2020-05-12 22:01] reskin89 commented on #232
—except seems like it’d be perfect, especially as the tool evolves and potentially has more rules as the spec evolves

[2020-05-13 21:54] cjoudrey commented on #232
Awesome! 😄 I'll close this then.

[2020-05-13 21:54] #232 closed

[2020-05-13 22:03] cjoudrey commented on #233
Thanks for the clarification! 😄

I agree with you that prefixing with a single `_` is technically valid according to the spec.

Since this is the first time this comes up, my gut feeling is that most people don't do this though. Changing `FieldsAreCamelCased` (that has been around for ~2 years) to accept `_` prefixes feels like something that might not be desirable for everyone.

Some of these rul

[2020-05-15 18:05] moberegger commented on #231
Gonna close this because I can't reproduce it and don't want to blame this project for the issue I am having. If I figure out more details, I will reopen with a proper repro.

[2020-05-15 18:05] #231 closed

[2020-05-16 07:42] guiaramos commented on #218
Sorry for my bad explanation @cjoudrey, I am facing this issue:

[code]

but actually it's not a error as we have multiple mutation and query types and then we use mergeType and mergeResolvers from https://github.com/Urigo/merge-graphql-schemas

Is it possible to ignore this error of "There can be only one type Mutation/Query"?

Ty!

[2020-05-16 14:50] cjoudrey commented on #218
Thanks for the clarification @guiaramos! 😄

Here's a similar issue about `merge-graphql-schemas`: https://github.com/cjoudrey/graphql-schema-linter/issues/147#issuecomment-418152380

Let's continue the discussion there.

Thanks! 😄

[2020-05-21 15:18] moberegger commented on #231
For anyone seeing this in the future with the same problem, the root cause of the issue for us was actually `prettier`! Bumping from `2.0.2` to `2.0.5` resolved our problem.

Prettier actually has a [dependency on `graphql`](https://github.com/prettier/prettier/blob/master/package.json#L47) which I had no idea about. Looks like it was using an older version which got bumped in one of the patches.

[2020-05-28 17:15] id-ilych commented on #18
If the schema is generated from the code (as it is with https://graphql-ruby.org/ for example) then it would be hard to set up those comments. In that case, having an exceptions list separated from the schema is not that bad.

[2020-06-16 12:43] qrsor opened #236 "Unable to configure a subset of rules"
Node version: 12.16.3
Command executed: `npx graphql-schema-linter aws_appsync.graphql schema.graphql`
Configuration file: graphql-schema-linter.config.js

Expected: schema is validated using a single rule
Actual:  A message is being displayed:

I was able to get it working by replacing the rule name with "DefinedTypesAreUsed".

[2020-06-16 22:41] cjoudrey commented on #236
Hello @qrsor, I'm glad you managed to get it to work.

The rules are named with hyphens (`-`) as per: https://github.com/cjoudrey/graphql-schema-linter#built-in-rules

Here's an example: https://github.com/cjoudrey/graphql-schema-linter#in-packagejson

In your case, this should work:

[code]

In case you're curious, the reason `"DefinedTypesAreUsed"` also works is because internally they are named

[2020-06-16 22:41] #236 closed

[2020-07-03 20:47] mshwery commented on #18
PR is up. Sorry took me awhile to find time for this! https://github.com/cjoudrey/graphql-schema-linter/pull/237

[2020-07-04 17:02] #18 closed

[2020-07-04 17:04] cjoudrey commented on #18
@id-ilych That's a fair point that I hadn't considered. Now that @mshwery added the foundation for filtering errors using inline configurations, I wouldn't be opposed to accepting a pull request that piggy backs off this for the case you outlined.

[2020-07-04 17:42] cjoudrey opened #238 "Add basic validation for inline configuration inputs"
When specifying an invalid rule in an inline configuration, `graphql-schema-linter` should let the user know.

For example, this should raise an error:

[code]

Perhaps the process could terminate with an error like:

[code]

Similarly, we should gracefully handle when an inline configuration is specified without any rules.

This currently crashes:

[code]

We could either (1) make it raise an err

[2020-07-05 13:50] id-ilych commented on #18
@cjoudrey Actually I built an ad-hoc solution based on @morris 's [idea](https://github.com/cjoudrey/graphql-schema-linter/issues/18#issuecomment-487588408). With `graphql-schema-linter.config.js` like that:
[code]

The rule itself could be seen [here](https://gist.github.com/id-ilych/abbd534863a170dd6ccdf39265af1ff4).

If you give me a hint on how to convert this to a proper solution that could b

[2020-07-07 17:24] dustinsgoodman commented on #18
@id-ilych Your solution looks extremely similar to the one that I wrote for my application but I love how you put excludes list in the main config. I'd love to see your solution turned into a PR and would happily assist you with it but I think you're virtually there already given your gist + config setup.

[2020-07-07 18:42] id-ilych commented on #18
@dustinsgoodman thanks :) Though I would like to get rid of the hacks:
* `Aaa`-prefix for ordering
* Hardcoded relative path to the config

Also, I would love to get some hints on
* Exclusion targets list. For now there are only three modes: `Type`, `Type.field` and `Type.field.parameter` - is it enough?
* This [unexpected situation handling](https://gist.github.com/id-ilych/abbd534863a170dd6ccdf3

[2020-07-10 17:51] andrewmartin opened #239 "Warning instead of error?"
This is more of a question than an issue, but curious if it's possible to do `warn`s instead of `error`s, similar to how `eslint` structures their config.

[2020-07-10 18:13] cjoudrey commented on #239
Hey @andrewmartin, just to clarify, you're asking if it is possible to have some rules `warn` instead of `error`?

If so, at the moment that isn't possible, but I think it'd be an interesting feature to add.

If you have ideas on how you'd implement this, feel free to share. 😄

[2020-07-10 18:23] andrewmartin commented on #239
@cjoudrey sure! Just food for thought. Here's a sample eslint file:
https://github.com/standard/eslint-config-standard/blob/master/eslintrc.json#L73-L105

Simply put, we'd need to restructure the config to allow objects instead of just strings:

[code]

I haven't dug too deep into how the errors are thrown from the rulesets, but you'd want to (likely) just send a different exit code based on the c

[2020-07-11 14:23] id-ilych commented on #18
My PR https://github.com/cjoudrey/graphql-schema-linter/pull/240.

[2020-07-15 02:29] cjoudrey commented on #239
Your proposal makes sense to me. 😄

By default the level would be `error`, but can be overrided to be `warn`.

Yeah, upon exiting I think the exit code should be based on the level of the rules.

Something along the lines of:

- If there are no errors, exit code is `0`.
- If there are errors and at least one of them is for a rule of level `error`, exit code is `1`.
- If there are errors and all of

[2020-07-29 16:44] danbahrami commented on #147
+1 for this issue. I have a schema that is growing steadily and would like to split it into five or six modules. Each module will contain a few top level queries. This is the error I'm getting

[code]

It would be a bit of a pain to have to run the linter 5 or 6 times, it would also miss things like clashing type definitions between files.

[2020-08-01 08:29] mac2000 opened #244 "proposal: lint schema from url"
In case the project uses code first approach (e.g. there is no schema file) there is no way to lint it, will be so much easier if we could do something like `npx graphql-schema-linter http://localhost:4000`

**Workaround:** at moment we can do something like:

[code]

[2020-08-01 12:48] mac2000 commented on #210
Another approach might be to have a simple script which will:

- introspect schema with help of apollo http link which will give us schema instance
- then we can apply transformations on top of it to remove federation specific stuff
- and only then call validation

But unfortunately all required pieces are not exported from this library it seems that it does not expected to be used programmaticall

[2020-08-17 14:35] mdecurtins commented on #239
This would be extremely useful for me, especially in adding custom rules where I want to emit a warning instead of an error, so I can raise potential problems with schema additions/changes without breaking our builds.

[2020-08-26 00:38] luigibertaco opened #247 "Question/Proposal: Validate if all disabled rules were reenabled."
When managing a large schema, it may be easy to disable a rule and forget to reenable it.
A good practice would be to always disable and enable a rule the same amount of times.

Is there a validation option to ensure a rule was not left disabled?
Or to prevent we disabling it 3 times but enable back only 2?

[2020-08-28 15:20] cjoudrey commented on #247
Hello @luigibertaco, thanks for opening this issue.

I assume you're referring to using `lint-disable` and then forgetting to call `lint-enable` afterwards?

One thing to keep in mind is if your schema is divided into many files, `lint-disable` will effectively _reset_ at the end of the file.

That being said, if your schema is one large file, I can see how this could be worrisome.

I can't really

[2020-08-28 15:23] cjoudrey commented on #244
Hey @mac2000, thanks for opening this issue.

Sorry for the late reply.

At this time this is not possible, however, have you considered using `--stdin` instead of using a tempfile?

I'm not familiar with `apollo client:download-schema` but if it has a way to output to stdout, you could pipe it to `graphql-schema-linter --stdin`.

[2020-08-30 06:54] mac2000 commented on #244
Hm, nope, apollo tools does output info messages so passing /dev/stdout as a target does not solve the  issue

![image](https://user-images.githubusercontent.com/88868/91653131-8b413a80-eaa6-11ea-8d90-d949930d987a.png)

But indeed it will work with any other tool that is able to retrieve schema from endpoint, my personal wish to have less tools around this one, so can use simple command in CI proc

[2020-09-02 20:02] sh0stat opened #249 "Add Option to Run Custom Rules Only"
I would like to add a additional option which would allow  custom rules  to be execute without running the default rules also.  Concern is that some of the new rules I created conflict with some of the default rules.  I tried to execute with just "-p" and noticed that default rules are executed along with the custom rules.

couple of rules we have created is EMUN are snake_cased and mutation must

[2020-09-04 12:00] cjoudrey commented on #249
Hello @sh0stat, thanks for opening this issue.

You should be able to specify the rules you want to run using the `-r` option.

You'll still want to include your custom rules using `-p`.

Hope I understood your question correctly!

[2020-09-04 15:21] sh0stat commented on #249
Hi @cjoudrey ,
Yes that is correct.  As it currently stands I am not able to run both -r and -p at the same time as it will only load the rules based on the -r flag and ignore the -p flag.  Per documentation if I select the -p flag it will run all rules in the rules folder along with the rules set in the -p directory which may conflict with some of our conventions.

[2020-09-06 13:20] cjoudrey commented on #249
Hello @sh0stat, maybe this behaviour should be better explained in the `README`, but:

- `-p` makes `graphql-schema-linter` aware of your custom rules.
- By default, `graphql-schema-linter` will use all rules that it knows (base rules + custom rules).
- When using `-r`, it will _only_ use the specified rules.

What you want to do is:

[code]

Hope this answers your question!

[2020-09-07 08:06] yvele opened #250 "TypeError: Cannot convert undefined or null to object"
With the new 1.0.0 (and Node.js v12.18.3) I'm having an error:

[code]

This is how I'm running it:

[code]

Note that this is working fine with 0.5.0

[2020-09-07 12:50] cjoudrey commented on #250
Hey @yvele, thanks for reporting this.  Let me check what happen. I'm surprised the test suite didn't catch this. 🤔

[2020-09-07 13:19] cjoudrey commented on #250
I have an idea of what is happening, but having troubles reproducing it.

@yvele do you happen to have a configuration for `graphql-schema-linter` in your `package.json`? If so, could you share it please?

[2020-09-07 20:57] k4ri474 commented on #250
Hello @cjoudrey ,
I describe the configuration in package.json and I had the same problem.

However, the error was resolved when `ignore` was specified, so I think the problem occurs if `ignore` is not specified when loading the configuration file.

The following settings will cause an error.
[code]

It works properly with the following settings.
[code]

[2020-09-07 21:59] connorshea commented on #250
Hi! I'm seeing the same thing.

PR on my repo: https://github.com/connorshea/vglist/pull/1487

GitLab CI logs: https://gitlab.com/connorshea/vglist/-/jobs/724634547

This is my `.graphql-schema-linterrc`:

[code]

Here's my `schema.graphql` if that's useful at all:

<details>
<summary>schema.graphql</summary>

[code]

</details>

Weirdly, when I run it locally on my Mac it seems to work fine. 🤔

[2020-09-07 22:04] connorshea commented on #250
It's fixed for me if I add `"ignore": {}` to my linter config, so if I had to guess I think it's this line that's doing it: https://github.com/cjoudrey/graphql-schema-linter/commit/5dc06315cfdb4cf2b42df2b628df80bbf6c1b93c#diff-91ba5f4df12e1b6b0629662164b3f14eR32

[2020-09-07 22:09] connorshea commented on #250
Also, FWIW there are a few comments in the repo about how options are deprecated and should be removed in 1.0.0, but it doesn't look like they were :P

[2020-09-08 11:45] yvele commented on #250
I don't have configuration in `package.json` 🤷

I only have a `graphql-schema-linter.config.js`

[code]

[2020-09-08 14:38] sh0stat commented on #249
@cjoudrey,
I set up a test to see if both rules are loaded when the -p and -r flags are used.  You can see in the below screenshots that  I only get a error when I have a file in the rules directory and not the customRules directory.  If you look at the left hand side you can see where each file is being loaded from.  I removed all rules and just used two to test it out.  When using the debugger I

[2020-09-09 14:23] cjoudrey commented on #249
Another way to see this is:

- `-p` simply `require(...)` the source code containing the extra rules.
- `-r` when specified will only run those rules, but when not specified, will run all rules that it finds (including the ones in extra files loaded using `-p`)

Suppose you want to run the rules `enum-values-have-descriptions` and `type-mutation-prefixed-pascal-case` then you'd want to do:

[code]

[2020-09-09 14:42] sh0stat commented on #249
@cjoudrey ,
I think it was a complete misunderstanding on my part.  So even when running the -p flag I still use the -r flag to pull in the rules that I want to be executed from the -p flag directory.

Thanks for your time.

[2020-09-09 14:42] #249 closed

[2020-09-10 14:23] cjoudrey commented on #249
No worries! I'm happy it's solved. 😄

Thanks for reaching out and do not hesitate to open an issue again if you run into issues.

[2020-09-10 16:19] lillem4n opened #252 "Linter not working after updating to 1.0.0"
I get the following error in my console:

[code]

[2020-09-10 16:20] lillem4n commented on #252
Duplicate of https://github.com/cjoudrey/graphql-schema-linter/issues/250

[2020-09-10 16:20] #252 closed

[2020-09-10 23:35] paramjitkaur commented on #250
@cjoudrey I have opened a PR for this https://github.com/cjoudrey/graphql-schema-linter/pull/253. This issue is happening only when we are reading the values from config files. Since there is no default value for the ignore in the config file so its **undefined** and eventually breaks in ignoreListErrorFilter function in validator.js file where it expects it to be an object.

[2020-09-11 01:55] #250 closed

[2020-09-11 02:04] cjoudrey commented on #250
Thanks all for your patience. This should now be fixed in `v1.0.1`.

Also thanks to @paramjitkaur for opening a pull request with a fix. I appreciate the help! 😄

[2020-10-27 00:45] hipper opened #258 "Add a rule that validates all interface fields are sorted alphabetically"
Couple of A->Z rules were already added to the project, which is great. We have:

- type-fields-sorted-alphabetically
- input-object-fields-sorted-alphabetically

One that lacks validation at the moment, however, is an interface type.

Propose to add `interface-fields-sorted-alphabetically`

[2020-10-27 14:40] cjoudrey commented on #258
Thanks for opening this issue @hipper.

I must've forgotten this when I implemented the sorted object type fields.

If you'd like to open a pull request for this that'd be super helpful. You could create a new rule called `interface-fields-sorted-alphabetically` and the implementation will be very similar to `type-fields-sorted-alphabetically`. You could probably also copy that rules' tests.

[2020-11-03 11:41] LunaticMuch opened #259 "Extend connection argument specs to input types"
The rule `relay-connection-arguments-spec` fails when pagination arguments are wrapped in an input type like:

[code]

This construct is technically valid and wrapping arguments in input types is also a best practice. Relay specs do not address specifically the point, either saying it can or cannot be done. When both forward and backward pagination is allowed, an input type with 4 fields delivers

[2020-11-04 15:25] cjoudrey commented on #259
👋 @LunaticMuch thanks for opening this issue.

The `relay-connection-arguments-spec` rule was written to adhere to this: https://relay.dev/graphql/connections.htm#sec-Forward-pagination-arguments

While it doesn't explicitly say that the `first` / `after` argument aren't wrapped, this is what all the examples on this page and [Relay docs show](https://relay.dev/docs/en/pagination-container).

Full

[2020-11-06 08:23] LunaticMuch commented on #259
The rule perfectly adheres to the spec. My idea is to extend it in order to make it able to check if pagination arguments are wrapped into input types.
Regarding best practices, I can try to source something. I have to be honest saying that most of best practices regarding input types are for mutations, but there's no downside in extending them for queries. Would you prefer this:

[code]

or this

[2020-11-10 00:16] hipper commented on #258
Thanks @cjoudrey, I've raised a PR to fix this.

[2020-12-10 12:34] meiamsome opened #264 "Rule defined-types-are-used should detect reference loops"
The following schema:
[code]

Will currently not show any errors, despite types A and B being inaccessible types (Due to the cyclic dependencies they count as referenced)

[2020-12-10 17:14] cjoudrey commented on #264
Thanks for opening the issue @meiamsome.  That's an interesting observation.

Today's `defined-types-are-used` is indeed a bit naive in this respect.

If you have suggestions on how to improve this feel free to share them.

I get the feeling we'd have to walk the graph starting at `Query` and `Mutation` to determine if something is truly accessible or not. We'd have to consider interfaces in this

[2020-12-10 18:29] meiamsome commented on #264
Yes, I imagine it's something like a memoized BFS or DFS. I think also this rule does not currently obey inline `lint-disable`s either, so that's something  to take in to account I guess.

I would be interested in writing a PR to add this functionality in the near future, but I don't have any code yet - thought I'd at least document the issue to begin with.

[2020-12-11 01:49] steverice opened #265 "Not possible to ignore custom rules?"
#240 added a block of code that filters out errors if they are in the ignore list, but only if they are an `instanceof ValidationError`:

[code]

Presumably, this is so that plain `GraphQLError`s cannot be accidentally ignored. However, this seems to make it impossible to ignore any custom rules.

The `ValidationError` object that's referenced here is the object exported by `src/validation_error.j

[2020-12-15 00:26] #258 closed

[2020-12-15 01:05] cjoudrey commented on #265
Hey @steverice, thanks for opening this issue.

I think this might indeed have been an oversight. Good catch!

Checking for `ruleName` being defined seems better for the use case you mentioned.

Would you mind opening a PR for this?

[2020-12-15 05:03] steverice commented on #265
Sure thing. #267 should fix this.

[2020-12-15 20:56] #265 closed

[2020-12-18 01:25] shellscape commented on #210
I'd luuuuurv to use this but the lack of native support for federation directives is a game ender. Any chance this could get some traction?

[2020-12-18 01:37] shellscape opened #269 "Cannot disable relay-page-info-spec"
Please consider the schema below. The comment at the top follows the docs for disabling a rule. When running the linter against that schema, the error `A ``PageInfo`` object type is required as per the Relay spec.` is thrown even though the linter is being instructed to ignore it.

[code]

[2020-12-18 01:48] shellscape opened #270 "Feature: Custom Sorting"
While we use standard alphabetic sorting for types, fields, etc we also like to have any `id: ID!` fields remain at the top. This helps with DX as our databases are structured in much the same way. While I wouldn't suggest pushing our sorting preferences on any other users, it would be handy to be able to specify a custom sorter.

[2020-12-18 02:12] cjoudrey commented on #270
Hey @shellscape! Thanks for opening this issue.

I would be open to add support for loading custom sorting functions to solve your issue.

Perhaps we can do something similar to how custom rules work and then anything loaded that way would be a valid value for `sortOrder`.

[2020-12-18 02:15] cjoudrey commented on #269
Hey @shellscape! Thanks for opening this issue.

That's odd. 🤔

It might have to do with how the `PageInfo` rule reports its error and that error's location possibly being less than `1`. 🤔

Definitely something weird going on.

In the meantime, you could use `--except` or `--rules` if this is a blocker for you.

[2020-12-18 02:23] shellscape commented on #269
Thanks for replying so quickly. I'm going the route of explicitly defining all rules (sans that one) in package.json. Added bonus of being declarative for folks wondering what it's validating, but I wanted to make the project aware of the issue.

[2020-12-18 02:25] cjoudrey commented on #269
Awesome! ☺️

Thanks I really appreciate the help. ☺️🎉

[2021-01-07 19:22] mdecurtins commented on #239
Hi @cjoudrey I'm considering taking a crack at this and I'm getting acquainted with how everything is run before I make any changes.

This could potentially be implemented using the existing `rulesOptions` key that is now possible in the configuration file, with every rule (built-in and custom) having a simple API for options:

[code]

In the configuration file, this would look like this:

[code]

[2021-01-08 18:38] shellscape opened #273 "Feature Request: Support for ignore in package.json"
I must admit I'm a bit baffled as to why `--ignore` accepts JSON but not from package.json, where the format is also JSON. If at all possible, please consider supporting the `ignore` option within package.json. It would save a whole lot of headache. 🍻

[2021-01-08 18:50] cjoudrey commented on #273
Hey @shellscape, thanks for opening this issue.

This is definitely an oversight if that's the case. It might also just be missing from the `README.md`.

I agree that people should be able to do something like this in their `package.json`:

[code]

If this is actually broken, I would start by looking here: https://github.com/cjoudrey/graphql-schema-linter/blob/c2876f3b93bd2a262c2af838f17cca5e21c23

[2021-01-08 18:55] cjoudrey commented on #273
I took a closer look and we have a test for this use case: https://github.com/cjoudrey/graphql-schema-linter/blob/c2876f3b93bd2a262c2af838f17cca5e21c23848/test/config/package_json/test.js#L52-L76

So either the test is broken or perhaps we're just missing some documentation in the `README.md` about the above use case.

[2021-01-08 18:57] shellscape commented on #273
Yeah my first stop was the README. The text here: https://github.com/cjoudrey/graphql-schema-linter#configuration-file, states that `ignore` is not an option that it accepts. So I gave it a shot anyways, and it didn't work. Triple checked the syntax and no joy. (I was ignoring an unused type). Once added on the command line option, worked as expected. So if it _is_ supported, something is definite

[2021-01-10 23:24] tmc opened #274 "Support ignoring a rule for all types."

[2021-01-11 14:51] shellscape commented on #147
Weighing in here to throw my support behind support of separate files. If ESLint et al were to throw errors because the same variable was declared in separate files, the tool would be unusable. We were planning on using this in a monorepo to lint all schemas at once, but with this limitation we're pretty boned.

[2021-01-12 17:42] cjoudrey commented on #274
Hey @tmc, thanks for opening this issue.

Can you provide a bit more clarity on the issue you're reporting?

Thanks!

[2021-01-12 17:46] cjoudrey commented on #147
👋 @shellscape thanks for the feedback.

Just for clarity, are you saying you'd like to run `graphql-schema-linter` _once_ and pass it multiple distinct GraphQL schemas or are you saying that you also have a schema that is divided into multiple files and gets merged into one eventually?

If you're saying the latter, I'm curious to hear what tool you use to merge them. To be honest, I don't have muc

[2021-01-12 18:23] shellscape commented on #147
Exactly. ESLint, for example, evaluates each file it encounters individually. In a monorepo, this is the only way to avoid running `graphql-schema-linter` multiple times for schemas in different monorepo projects.

[2021-01-12 19:24] cjoudrey commented on #147
Gotcha! Ok, I think the problem you are describing is different from what is described in the original issue.

In your case, the root problem is that `graphql-schema-linter` assumes multiple `.graphql` files should be treated as one schema and it'll simply concat them.

It makes me wonder if maybe we should be changing this default behaviour such that `graphql-schema-linter` treats each `.graphql`

[2021-01-12 19:48] shellscape commented on #147
I would love that solution.

[2021-01-27 17:30] silospen commented on #273
FWIW I tried the ignore syntax in package.json and it worked fine for me.

`  "graphql-schema-linter": {
    "ignore": {
      "types-have-descriptions": [
         ...
      ]
    }
}`

[2021-02-18 08:59] ludovic-pourrat opened #279 "Custom rule sample"
Hello,

I don't find any guidelines or samples to setup custom rules ?

[2021-02-21 18:32] cjoudrey commented on #279
Hello @ludovic-pourrat,

There are some instructions on how to do this in the `README`: https://github.com/cjoudrey/graphql-schema-linter#customizing-rules

You can also look at this library's rule set to better understand the syntax.

Let me know if you have other questions.

Cheers!

[2021-03-18 05:47] vsimon opened #280 "Possible to ignore one or more field names from being affected by a rule?"
I wanted to try this tool with a file asking:

[code]

I noticed the `--ignore` [PR](https://github.com/cjoudrey/graphql-schema-linter/pull/240) was merged. I tried the arguments:

[code]

but they all resulted in same: `The fields of input type Response should be sorted in alphabetical order.`.

The only thing that works is: `--ignore '{"input-object-fields-sorted-alphabetically":["Response"]}'`

[2021-03-29 23:07] rperryng commented on #147
👋 is there any momentum on this issue still?  Would love it if one day there could be some support for `graphql-tools`'s `# import` syntax ([docs](https://www.graphql-tools.com/docs/schema-loading/#using-import-expression)).

In our case, we have some common type definitions stored within a `common` directory, that get imported via the syntax above into other distinct GraphQL schemas, which we lin

[2021-03-30 14:31] rperryng commented on #147
I took a super quick jab at supporting `# import` statements [here](https://github.com/rperryng/graphql-schema-linter/commit/f1b6ba4613ba4dcc65a2493e1befba196cbc0207)

It's quite crude:
- only supports importing entire files, not selective types (e.g. `# import Post from './types.graphql'`)
- will probably get stuck in an endless loop if two files are importing eachother
- the resulting `definitio

[2021-05-04 18:00] dengliu opened #283 "Is there any plan to add initialisms rule?"
Is there any plan to add initialisms rule?

https://github.com/golang/go/wiki/CodeReviewComments#initialisms

[2021-05-04 18:50] cjoudrey commented on #283
👋 @dengliu, I could see this being useful for rules like `FieldsAreCamelCased`. I'm guessing this is why you're bring this up?

I think we'd want to let people configure their initialisms and then we can use that configuration within the rule when applicable.

Given that there are multiple rules that might need this information (e.g. `FieldsAreCamelCased`, `TypesAreCapitalized`, `InputObjectValues

[2021-05-04 19:19] dengliu commented on #283
thanks for the quick @cjoudrey
I'd love to contribute a bit but I cannot make a hard commitment for this as I am not a JS guy.

I agree to give the flexibility for users to define their own list of initialisms. However, I think as a first step, we can start with some common initialisms defined in [lib/config.js](https://github.com/cjoudrey/graphql-schema-linter/blob/c2876f3b93bd2a262c2af838f17cca5

[2021-05-04 19:23] cjoudrey commented on #283
https://github.com/golang/lint/blob/master/lint.go#L770-L800

Yeah, that's definitely a second option. I'm not too sure about that approach as this might force people to change their schema and changing the casing of a type / field might be considered a breaking change for some implementations.

e.g. If we decide `URL` is now a initialisms by default, any schema today that uses `Url` would get a l

[2021-05-04 19:38] dengliu commented on #283
agree. Ideally would like to introduce the `initialisms` config map  as the example below.
So if we have that, do we need t update multiple rules to honor this list (e.g. FieldsAreCamelCased, TypesAreCapitalized, InputObjectValuesAreCamelCased, ...)
Or if there is a global rule that is checked before the rest of multiple rules.
(Not sure how the rule checking order is implemented.)

[code]

[2021-05-04 20:02] cjoudrey commented on #283
Oh, that's an interesting idea too. 🤔

I was just looking at the rules I mentioned above, and they seem to be pretty loose with the definition of camel case:

https://github.com/cjoudrey/graphql-schema-linter/blob/c2876f3b93bd2a262c2af838f17cca5e21c23848/test/rules/fields_are_camel_cased.js#L16-L17

So perhaps we _could_ do this as a new rule that checks initialisms everywhere.

Nitpick about your

[2021-05-04 20:37] dengliu commented on #283
Oh, the reason to use map instead of list is to have the the developer to have options to know what are the common initialism available to config instead having them to spent too much time to compile this list.
It's easier for them to decide wether a given initialism need to be on or off than think of a list of them.

[2021-05-05 17:22] scags9876 commented on #274
I am curious about this as well.  If i want to completely ignore a rule for all fields and all types, is that possible?
with the following config file:
[code]
only disables these rules for Movie types and Genre enums.  I want to just not see these rule active for any type or field.  If i add a new enum and don't add descriptions for the values, schema linting should pass without me updating my sch

[2021-05-05 17:40] cjoudrey commented on #274
If you want to completely disable `enum-values-have-descriptions`, you can configure what rules to be run using `"rules": ["..."]` (or `--rules ...`). For example: https://github.com/cjoudrey/graphql-schema-linter#in-packagejson.

This is an opt-in list though and not an ignore list.

Let me know if I misunderstood your request.

[2021-05-06 08:07] mac2000 commented on #279
Got here with exactly the same question, just in case for anyone looking for a custom rule example

Suppose we have following schema:

[code]

Technically schema is valid, but it has *code smell*

We going to prevent such cases by disallowing fields like `whateverId: ID`

**rules/identifiers-are-connected.js**

[code]

Notes:

- forgive me for code quality it is just plain copy pasta from [here](h

[2021-05-18 09:25] cyberhck opened #286 "New rule: spacing"
Hello there,
Thanks for this tool, it works great.

I was wondering if you have any plans on adding spacing rules like new lines before each type, new line before a description of a field, space between type name and a curly etc.

[2021-05-18 13:27] cjoudrey commented on #286
Hi @cyberhck.  Thanks for the feedback. Glad you like the tool. ❤️

`graphql-schema-linter` doesn't really validate these kind of things because I felt like a tool like [`prettier`](https://prettier.io/) was better suited for this task. `graphql-schema-linter` is more interested by the parsed schema itself and not necessarily the details of how it was written in a file.

Hope that answers your que

[2021-05-19 07:08] #286 closed

[2021-05-19 07:09] cyberhck commented on #286
Thanks for the info :)

[2021-05-28 14:45] shellscape commented on #210
Checking in after 6 months. @cjoudrey any plans to give this some love in the near future?

[2021-05-29 07:16] mac2000 commented on #210
@shellscape at the very end, even if federation will be added, you still end up with further configuration and even your own rules, so you will have a configuration file and all you need is just to add federation stuff to exclusions.

In our case dotnet implementation did not sort fields alphabetically, as a results there were no other way for us to use linter without configuration file, as a resu

[2021-05-29 07:26] mac2000 commented on #244
After a while, it seems that this one is not required anymore. In the end, we start to configure linter more and more and even create a bunch of our custom rules. As a result, we just created a dedicated repository that holds all rules and configurations and serves as a kind of wrapper around the original linter which allows us not only to download schema from URL but much more

Here is a pseudo-c

[2021-05-29 07:26] #244 closed

[2021-05-29 10:42] shellscape commented on #210
@mac2000 I'm honestly not sure what you're referencing. Having looked at the source for this package, and the source for `buildFederatedSchema`, it's clear that to support federation, adding the necessary directives to the validate methods is relatively trivial.

[2021-06-01 15:19] m3lnic opened #287 "(0 , _extendSchema.getDescription) is not a function"
Running the schema linter against our schema results in the following error:
[code]

Running GraphQL version 14.7.0 and we are using it alongside Apollo so we are currently staying on this version. The node version is 14.17.0.

[2021-06-25 13:33] vikstrous2 opened #289 "lint-disable-line doesn't work when a field has a description"
linter version: 2.0.1
[code]

I expected the last linter violation to be ignored.

[2021-08-09 13:38] leehambley opened #290 "Empty union regarded as invalid schema."
The GraphQL spec's [grammar][1] permits empty unions, but a point [follows][2] which says that an empty union is _invalid_. The [Apollo Federation spec][3] requires the definition of a `union _Entity` (no members).

It's not clear to me whether the `graphql-schema-linter` should forbid this at parse time, or whether it should be a rule we can disable separately.

There's a similar issue here https

[2021-08-12 07:05] leehambley commented on #290
The Federated Schema spec from Apollo actually clarifies that this empty union can be omitted if no types are really federated:

![image](https://user-images.githubusercontent.com/18952/129152700-a1bc97ab-ac00-4cd5-9ac5-d8293ee324a8.png)

[2021-08-12 07:05] #290 closed

[2021-10-09 06:54] atipi opened #291 "Unable to check .graphql file under sub directories"
Hello,
When executing with this command it throw an error
`schema/**/*.graphql`

Is it possible to check *.graphql files under sub directories?

[2021-10-19 01:16] renovate opened #294 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/cjoudrey/graphql-schema-linter).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migration PR.

[2021-11-24 08:13] taouichaimaa commented on #165
Hi @cjoudrey , I realize this thread has been closed but I'm having the same problem, except when I define the @aws_iam or any of the pools used in mutation like that, the ones used on objects(types) generate the 'trying to redefine directive ' error. Any thoughts?

[2022-01-13 22:12] mcwoodle commented on #289
Encountered the same issue.  Only workaround was to disable multiple lines like:

[code]

[2022-01-18 13:55] RoyLeibo opened #295 "Unclear errors"
We are developing micro-services in NestJS-typescript, Each of them exposes a GraphQL schema. In order to expose a single graph, we are using a federation service, also in NestJS.

I was trying to integrate with '@graphql-eslint/eslint-plugin' and some strange exceptions were thrown:

Those errors were solved following a GitHub issue: https://github.com/cjoudrey/graphql-schema-linter/issues/210

I

[2022-02-11 21:35] rperryng commented on #147
@cjoudrey Just wondering if there's anything I can do to move the dial on this one - I have been using the quick workaround I mentioned above but would love to contribute something back upstream if you have any direction.

Is the project still being maintained?

[2022-03-04 19:02] cjoudrey commented on #147
👋 Hi @rperryng, unfortunately I haven't been able to give this project the time it deserves over the last year. I've been pretty distant from the GraphQL community during that time as well. This is why issues like this one haven't been resolved yet. I'm currently on parental leave so I don't expect this to change in the near future.

As for your idea of support `# import ... from ...`, from the ge

[2022-03-11 18:53] liamdasilva opened #297 "Maximum call stack size exceeded"
When we have a circular schema reference
e.g. if a Post contains User and User contains posts, and they are in separate files that import each other
then the linter seems to enter an infinite loop and stack overflow

[2022-03-12 19:44] rperryng commented on #147
@cjoudrey Thanks for your response!  Understandable that you are keeping your package free from being "library-aware" and sticking to only supporting official GraphQL syntax.  I appreciate the work put in, and I definitely got a lot of mileage out of `graphql-schema-linter` over the last year 🙂 .

It turns out that late last year The Guild / `graphql-tools` has released an [eslint plugin](https://

[2022-03-12 20:48] cjoudrey commented on #147
I'm really happy to hear that. 🎉 😄 `graphql-schema-linter` started as a passion project, and to my surprise, a lot of other people cared about the same things as me. 😄

That's amazing! I wasn't aware of this project. I'm happy that there are other options available.

Thanks! ❤️ Same to you. 😄

[2022-05-06 17:15] cjoudrey commented on #297
Thanks for opening this issue @liamdasilva!

That's odd. Do you mind copy/pasting a snippet of your schema so that I can try reproducing this locally.

[2022-05-09 16:13] sbienkow-ninja opened #308 "TypeError: Cannot read property '0' of undefined"
After installing following packages:
[code]

And running the `graphql-schema-linter`:
[code]

I hate to post such empty issue, but no clue what more information I could include (apart from the `.graphql` files which I can't make public).

[2022-05-09 19:26] modosc commented on #308
we hit it too. i added some debugging in `lib/validator.js`:
[code]
and (ironically) this seems to be one error that's exploding for me:
[code]

[2022-05-10 23:11] cjoudrey commented on #308
Ah, darn. 😢 It would definitely be easier to debug this with a schema.

It could be worth double checking if this happens with `graphql@15.8.0`.

Even better, if you can make it crash with a shareable subset of your schema that would make fixing this easier.

Is there anything about your schema that might be out of the ordinary? I ask because I've got a series of small fake schemas that work fine.

[2022-05-10 23:35] cjoudrey commented on #295
Sorry for the late reply.

If I were to guess, I think it's because the schema you pasted doesn't define `Mutation` or `Query`, but rather only extends them.

I was going to suggest defining empty types in the same file you define `@key`, but unfortunately [that wouldn't be valid either](https://spec.graphql.org/draft/#sel-HAHZhCFBABPBuBttb). 🤔

I'll have to think about this a bit, but unfortunate

[2022-05-12 16:17] cjoudrey commented on #308
Thanks for the debugging! 🙂

I suspect that might be the issue, but the linter should gracefully handle this. Crashing is not a great user experience.

Comment descriptions have been deprecated for some time now. As per GraphQL 16.x, I believe comment descriptions were officially removed and replaced with [string literal descriptions](https://spec.graphql.org/draft/#sec-Descriptions). I'll need to

[2022-05-12 18:11] modosc commented on #308
i also checked and even with all `#` comments removed we still get the error.

i wonder if just fixing `sortErrors` to handle `path: undefined` would help?

[2022-05-20 16:22] cjoudrey commented on #308
This issue should be addressed by: https://github.com/cjoudrey/graphql-schema-linter/pull/309.

I'll make a release shortly.

[2022-05-21 13:10] #308 closed

[2022-05-27 13:30] sowens01 opened #314 "TypeError: nodes.flatMap is not a function"
Not quite sure if this is a code error or a user error. I installed graphql-schema-linter and graphql globally using npm per the installation instructions. When I try to run graphql-schema-linter on any schema file, I get the following error:

TypeError: nodes.flatMap is not a function
    at buildInterfaces (C:\Users\USX21602\AppData\Roaming\npm\node_modules\graphql\utilities\extendSchema.js:605:

[2022-05-27 14:07] cjoudrey commented on #314
That's interesting. 🤔

What version of node are you using?

[2022-05-27 15:03] sowens01 commented on #314
<sigh> It was 10.0.something. In other words, it was really old. 🙄 Updated and now it seems to work.

I'll close out the bug.

[2022-05-27 15:03] #314 closed, assigned to nobody

[2022-05-27 15:04] sowens01 commented on #314
Stupid user issue. Closing.

[2022-05-27 16:07] cjoudrey commented on #314
No worries! Happy the issue is resolved! Perhaps the library should require a minimum node version so that errors aren't obscure.

[2022-06-07 00:59] FerasAlazzeh opened #316 "TypeError: Cannot read properties of undefined (reading 'inherits')"
It looks like you may have hit a bug in graphql-schema-linter.

It would be super helpful if you could report this here: https:/github.com/cjoudrey/graphql-schema-linter/issues/new

TypeError: Cannot read properties of undefined (reading 'inherits')
    at /node_modules/graphql-lint-rules/rules/index-34b81f35.js:2568:8
    at createCommonjsModule (/mnt/node_modules/graphql-lint-rules/rules/index-3

[2022-06-07 06:15] Patr56 commented on #316
its look like fix in [v3.0.1](https://github.com/cjoudrey/graphql-schema-linter/releases/tag/v3.0.1)

[2022-06-07 07:12] steverice commented on #316
@FerasAlazzeh I believe this is an issue with the `graphql-lint-rules` package, not `graphql-schema-linter` itself: https://github.com/pinterest/graphql-lint-rules/pull/35

[2022-06-07 14:20] cjoudrey commented on #316
Thanks for the reply @steverice. I'm going to close the issue as I believe you are correct.

The backtrace seems to suggest the same thing as well.

[code]

Feel free to re-open if I'm mistaken.

[2022-06-07 14:20] #316 closed, assigned to nobody

[2022-06-08 16:43] jacquayj commented on #269
`graphql-schema-linter --except relay-page-info-spec` worked for me, thanks!

[2022-06-22 20:15] isha-talegaonkar opened #318 "Support for adding format type in package.json"
Hi,

I wanted to know how we can specify the format of the output as json inside the package.json file. So far, everything I tried has not worked.

[2022-06-23 13:41] cjoudrey commented on #318
Hi @isha-talegaonkar,

I think that feature might be missing. Good catch!

I don't have time at the moment to address this issue, but I think the fix should be relatively straight forward.

I believe adding `format` to this hash and writing a few tests would solve the problem:

https://github.com/cjoudrey/graphql-schema-linter/blob/fb0dd421138a5385de9be783393fd5f684219400/src/options.js#L30-L36

[2022-06-27 16:53] isha-talegaonkar opened #319 "fields-are-camel-cased/input-object-values-are-camel-cased are not working"
Hi,

The above two rules are not working for my schema.

`
[code]

    type Contact{
        firstname: String,
        lastname: String
    }

    enum Gender{
        MALE
        FEMALE
        OTHER
    }

    type Query{
        getFriend(id: ID): Friend
    }

    input FriendInput{
        id: ID,
        firstname: String,
        lastname: String,
        gender: Gender,
        age: Int,

[2022-06-27 16:56] isha-talegaonkar commented on #318
Hi @cjoudrey
Thank you for the revert!

[2022-07-05 16:13] isha-talegaonkar commented on #279
Hi,

Is there a way to be able to test our custom rules?

[2022-07-06 19:29] cjoudrey commented on #279
Hi @isha-talegaonkar,

I would recommend digging into the library's test suite you'll be able to find examples of how the library's rules are tested.

Here are two files that could be useful:

- https://github.com/cjoudrey/graphql-schema-linter/blob/master/test/rules/types_have_descriptions.js
- https://github.com/cjoudrey/graphql-schema-linter/blob/master/test/assertions.js

If folks would find t

[2022-08-02 14:32] yvele opened #320 "`--comment-descriptions` does not work anymore with v3"
I switched from graphql-schema-linter v2.0.2 to v3.0.1

And now I have a lot of `types-have-descriptions` and `fields-have-descriptions` reports.

This should be OK using `--comment-descriptions`:

[code]

Everything was OK using v2.0.2

Note that I'm building a schema for AWS AppSync and I need the old way of defining descriptions:
- https://github.com/aws/aws-appsync-community/issues/38

[2022-08-22 10:14] defsteph commented on #273
Seems to work fine in package.json, but I couldn't get it to work with `.graphql-schema-linterrc`

I have this in my package.json, working quite alright with a TypeGraphQL generated schema.
[code]

[2022-08-22 20:07] defsteph opened #321 "Some rules seem impossible to ignore"
A bit of background, we're working with a Federated Schema, built using TypeGraphQL and Apollo. As a quality measure, I want to implement schema linting, to help us maintain this rather large, and growing graph.

We have a large monolith graph that we are migrating away from, and are no longer making changes to that old schema. Thus, I don't want to include it in our linting, but rather just ignor

[2022-08-26 21:59] casey-chow opened #322 "Enable whitelist-ignoring rules by argument name"
One issue I'm finding with making my schema more consistent is that enabling certain rules requires adding documentation where it may be noisy, for example with `arguments-have-descriptions`, where all of our mutations have a single argument `input` which is well-defined and conventional. I'd like to be able to whitelist the specific name `input` as self-explanatory in our configuration so I don't

[2022-08-30 09:25] uasi commented on #269
Found that `# lint-disable-line relay-page-info-spec` can disable the rule.

[code]

[2022-08-30 09:54] uasi commented on #269
I believe the problem is because `lint-disable` does not affect the line it is written on, so the error at `1:1` is not silenced by it.

https://github.com/cjoudrey/graphql-schema-linter/blob/fb0dd421138a5385de9be783393fd5f684219400/src/validator.js#L141

[2022-11-01 21:42] Caerbannog commented on #118
This package by @morris provides a rule that checks for null list items: https://www.npmjs.com/package/graphql-schema-linter-extras
It does not check for null lists.
Here is the code. ISC license according to package.json.
[code]

[2022-11-28 14:54] sjoerdk-ahold commented on #269
Small bump on the above issue since the given workaround will not work much longer: `‼ The --only and --except command line options have been deprecated. They will be removed in v1.0.0.`